@charset "UTF-8";
/* CSS Document */
body
{
    background-color:#edeef0!important;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
.no-background{
    background-color:#FFFFFF !important;
}
.no-margin {
    margin:0px !important;
}

.jumbotron {
    position: relative;
    background: #000 url() center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

}
.navbar-fonts{
    font-color: rgb(17, 23, 28) !important;
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin-top:3px !important;
}
.my_feed {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(226, 50, 22)!important;
    text-transform: uppercase;
    line-height: 2.375;
    position: absolute;
    top: 5px;
    z-index: 113;
}
.jumbotron-index
{
    background-image:url(../Images/AdobeStock_86359352_WM.png);
    color:#CECECE;
    height:500px;
    margin-bottom:0px!important;
    padding-top:100px!important;
}
.jumbotron-landingpage
{
    background-image:url(../Images/Hero%20image.png);
    color:#CECECE;
    height:500px;
    margin-bottom:0px!important;
    padding-top:0px!important;
}


.navbar-default  li  a {
    color:#000000!important;
}

.round {
    border-radius: 24px!important;
    background-color:rgb(209, 75, 47)!important;
    border:none!important;
    margin-top:5px;
    margin-bottom:5px!important;
}



.btn {
    font-size: 16px!important;
    font-family:"lato", sans-serif!important;
    padding: 14px 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none!important;
}

.btn-primary {
    background-color: rgb(241, 94, 60)!important;
    color: rgb(255, 255, 255);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #A31D1F!important;
}
.btn-primary:active, .btn-primary.active {
    background: rgb(241, 94, 60)!important;
    box-shadow: none!important;
}
.jumbotron h3 {
    color:#FFE7E8;
    font-family: "Vollkorn Italic";
    font-size:38px;
    font-style:italic;

}
.jumbotron p
{
    color:#FFFFFF;
}
.trip_date{
    float:right;
}
.avatar{
    height:28px;
    width:28px;
}
.trip_name{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(74, 76, 78);
    text-transform: uppercase;
}
.trip_date{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(74, 76, 78);
}
.user_name_thumbnail{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(109, 112, 119);
    line-height: 2;
    margin-left:4px;
}
.stats_thumbnail {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(109, 112, 119);
    line-height: 2.3;
}
.Like_icon_thumbnail {
    padding-top:8px;
    padding-right:4px;
    padding-left:4px;
    font-size: 11px;
    color: rgb(109, 112, 119);
}
.Explore {
    font-size: 30px!important;
    font-family: "ABeeZee";
    color: rgb(95, 96, 98);
    margin-top:5px!important;
    margin-left:10px!important;
}
#sidebar-wrapper{
    z-index:1;
    position:fixed;
    height:100%;
    width:250px;
    border-right: 2px thin #4F4C4C;
}
.jumbotron-locationpage
{
    background-image:url(../Images/san%20fran.jpg);
    color:#CECECE;
    height:500px;
    margin-bottom:0px!important;
}
.breadcrumb-locationpage > li + li:before {
    color: #ccc;
    content: "> "!important;
    padding: 0 5px;
    background:none;
}
.thumbnail{
    position:relative!important;
}
.thumbnailcontent-landingpage{
    font-size:28px;
    font-family:"lato";
    background: none;
    opacity: 1;
    text-align:center;
    top:-200px;
    color:rgb(255, 255, 255);
}
.carousel-inner img{
    width:100%;
}
.timeline-sidebar-wrap{
    background-color:white;
}
.timeline-thumbnail-wrap{
    background-color:rgb(56, 61, 64)!important;
    padding-bottom:20px!important;
    margin:0px!important;
    border:0px!important;
    border-radius:0px!important;
}
.timeline-thumbnail-wrap p{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(247, 247, 247);
    background-color:44, 48, 49!important;
}
/*Timeline CSS*/

@font-face {
    font-family: 'ecoico';
    src:url('../fonts/timelineicons/ecoico.eot');
    src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
    url('../fonts/timelineicons/ecoico.woff') format('woff'),
    url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
    url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
    content: "\e000";
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}
.content .portfolio-item.group.first .trip-intro {
    width: 30%;
    float: left;
    padding: 20px 20px 20px 40px;
    color: #5e5e5e;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }
}
.navbar-two{
    padding-top:66px;
}
.img_holder {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 110;
}
.timeline-tripname{
    font-size: 24px;
    font-family: "Lato";
    color: rgb(17, 23, 28);
    text-transform: uppercase;
    padding:10px;
    margin:0px;
}
.timeline-thirdheader{
    background-color: rgb(251, 251, 251);
    margin:0px;
}
.timeline-thirdheader btn{
    font-size: 18px;
    font-family: "Lato";
    color: rgb(228, 76, 60);
    padding:10px;
}
.Itinerary{
    font-size: 19px;
    font-family: "Lato";
    color: #000000;
    text-transform: uppercase;
    margin: 15px;
}

.Itinerary a {
    color:#000000;
}
.Itinerary a:active {
    color:rgb(209, 75, 47)!important;
}
.span {
}
