<div class="privacy-wrap container">
    <h1 class="text-center">Privacy Policy</h1>
    <p>We’ve done our best to cut through the legal jargon and explain in simple terms what information we collect about you, what we use it for, and the few situations in which we share it with others.</p>
    <p>Please read this privacy policy carefully. It applies to all interactions you have with Campture’s products and services.</p>
    <ol>
        <li>The Information we collect
            <p>You may be able to sign in through an account you already have with another service, such as Facebook. Like most website and mobile application operators, We collect information about what Campture pages you access or visit, information about your mobile device (such as device or browser type), and the URLs of WEBSITES that referred you to us.</p>
            <p>We also collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request.</p>
        </li>
        <li>
  Use of Your Information
            <p>
  A big part of Campture is sharing travel experiences you create. That’s why your Campture profile and the comments you post are all public. Aside from that, we use your information to keep Campture running, better understand how you use our service, customize your experience (including the content, MARKETING materials, and advertisements you see), prevent abuse and improve Campture.
            </p>
            <p>
  With your consent, after letting you know what information will be shared, and with whom.
            </p>
            <ul>
                <li>
  If we believe it’s reasonably necessary to comply with a law, regulation or legal process. If we’re going to release your information, our policy is to provide you with reasonable advance notice under the circumstances unless we’re prohibited from doing so by law or court order. We may disclose your information without giving you prior notice if we believe it’s necessary to prevent imminent and serious bodily harm to a person. Nothing in this privacy policy is intended to limit any legal objections or defences you might have to efforts by third parties to compel disclosure of your information, including legal orders from the government.
                </li>
                <li>
  To third parties helping us offer and improve our service, such as those providing Campture certain technical tools and analytics services (including MARKETING partners) that help us understand how people use Campture so we can make it better. We require those companies to observe the limitations in this privacy policy.
                </li>
                <li>
  If we sell, transfer or otherwise share some or all of our assets, including the information identified in this privacy policy, in connection with a merger, acquisition, reorganisation or sale of assets in the event of a bankruptcy.
                </li>
                <li>
  We may also share non-personally identifiable, non-aggregate information (for example, anonymised Advertising IDs) with companies that help us improve our products and services, including advertising (such as research companies and analytics providers). As with your personally identifiable information, we require that such companies observe the limitations in this privacy policy.
                </li>
                <li>
  We may disclose aggregate information about how our users use Campture in a manner doesn’t identify you individually.
                </li>
            </ul>
        </li>
        <li>
  Information Protection
            <p>We have implemented stringent measures to secure and protect your information.</p>
            <p>These include:</p>
            <ul>
                <li>Safeguards to prevent security breaches in our network and database systems.</li>
                <li>Limits on access to information in our systems and the systems of our business partners and vendors.</li>
                <li>Strict verification processes to prevent unauthorised access to information.</li>
            </ul>
        </li>
        <li>
  Cookies and HTML5 local storage
            <p>Cookies and HTML5 local storage are ways to keep information about your use of Internet services on your own mobile device or computer.</p>
            <p>We use cookies and HTML5 local storage to help us create your session, know when you’re logged in and help us remember certain information about how you interact with Campture. If you’d rather not use cookies or HTML5 local storage, most browsers give you the option to turn them off, or require your approval before using them to keep information. If you choose not to keep information in cookies or HTML 5 local storage, though, portions of Campture may not work as intended.</p>
            <p>Campture also uses web beacons in advertisements to allow Campture and its advertising partners to see how users view and engage with advertisements. Depending on your advertising preferences set in your operating system, Campture may share your Advertising ID with advertising partners in an anonymous fashion that is not tied to your name or email address.</p>
            <p>Some publishers or other third-party services that we partner with may use cookies, web beacons or other technologies to keep track of your Internet activity. Please note that this privacy policy explains Campture’s policies only, and doesn’t cover the practices of other services.
            </p>
        </li>
        <li>
  Data Deletion
            <p>If you’d like to delete your account, you can do so in the Campture application or WEBSITES. If we delete your account, your user profile will no longer be visible on our service, though we may still keep some log information in non-personally identifiable form and any other information you have made publicly available through Campture.</p>
        </li>
        <li>
  Location Information
            <p>When you use Campture services, we may collect and process information about your actual location. We use various technologies to determine location, including IP address, GPS, and other sensors that may, for example, provide Campture with information on nearby devices, Wi-Fi access points and cell towers.</p>
        </li>
        <li>
  Aggregated Statistics
            <p>Campture may collect statistics about the behavior of visitors to its WEBSITES and mobile applications. For instance, Campture may monitor the most popular accounts on the Campture.com site and Campture’s mobile applications or use spam screened by third party services to help identify spam. Campture may display this information publicly or provide it to others. However, Campture does not disclose personally-identifying information other than as described above.</p>
        </li>
        <li>
  Privacy Policy Changes
            <p>As Campture continues to develop, we may decide to revise this privacy policy from time to time. The most current version will govern our use of your information and will always be  <a href="https://campture.com/privacy">here</a>. If we make changes that we think will substantially alter your rights, we will notify you by posting a notice on our WEBSITE. You agree to accept any changes or revisions to this privacy policy by continuing to use Campture.
            </p>
        </li>
    </ol>
</div>