<modal-dialog image-url="modalImageUrl" show="modalShown" width="850px" height="60%">
</modal-dialog>
<div class="profile_page_header text-center">
    <div class="profilepicture text-center">
        <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle img-responsive">
        <span class="user_name">{{userObj.facebook_profile.name}}</span>
    </div>
    <div ng-show="!isProfileInformationInEdit && isMyProfile" ng-click="isProfileInformationInEdit = true" class="btn btn-default">Edit Form</div>
    <button ng-show="isProfileInformationInEdit && isMyProfile" ng-click="editUserInformation()" class="btn btn-default">Save</button>
    <div class="about-me text-center container">
        <h2>in 10 seconds</h2>
                <div class="">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/location pin.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last seen in</span>
                            <p ng-show="profileInformation.lastSeenIn && !isProfileInformationInEdit">{{profileInformation.lastSeenIn}}</p>
                            <p ng-show="!profileInformation.lastSeenIn && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastSeenIn" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/book.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last on-the-go Read</span>
                            <p ng-show="profileInformation.lastOnTheGoRead && !isProfileInformationInEdit">{{profileInformation.lastOnTheGoRead}}</p>
                            <p ng-show="!profileInformation.lastOnTheGoRead && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastOnTheGoRead" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Traveller.png">
                        </div>
                        <div class="col-md-7">
                            <span>Traveller Type</span>
                            <p ng-show="profileInformation.travellerType && !isProfileInformationInEdit">{{profileInformation.travellerType}}</p>
                            <p ng-show="!profileInformation.travellerType && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.travellerType" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Companion.png">
                        </div>
                        <div class="col-md-7">
                            <span>Ideal Trip Companion</span>
                            <p ng-show="profileInformation.idealTripCompanion && !isProfileInformationInEdit">{{profileInformation.idealTripCompanion}}</p>
                            <p ng-show="!profileInformation.idealTripCompanion && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.idealTripCompanion" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Money.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last Trip Expense</span>
                            <p ng-show="profileInformation.lastTripExpense && !isProfileInformationInEdit">{{profileInformation.lastTripExpense}}</p>
                            <p ng-show="!profileInformation.lastTripExpense && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastTripExpense" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/plane.png">
                        </div>
                        <div class="col-md-7">
                            <span>Next Destination</span>
                            <p ng-show="profileInformation.nextDestination && !isProfileInformationInEdit">{{profileInformation.nextDestination}}</p>
                            <p ng-show="!profileInformation.nextDestination && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.nextDestination" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span>About Me</span></br>
        <textarea ng-model="profileInformation.abloutMe" ng-show="isProfileInformationInEdit && isMyProfile"></textarea>
        <h5 ng-show="profileInformation.abloutMe && !isProfileInformationInEdit">{{profileInformation.abloutMe}}</h5>
        <p ng-show="!profileInformation.abloutMe && !isProfileInformationInEdit">Not Updated</p>
    </div>
    <div class="trips_places_photos">
                    <a data-toggle="pill" href="" ng-click="updateprofileTabPos(0)"><button type="button" class="btn tpp" style="margin-left:0px;"><i class="fa fa-map-o"></i><p>trips</p></button></a>
                    <a data-toggle="pill" href="" ng-click="updateprofileTabPos(1)"><button type="button" class="btn tpp"><i class="fa fa-map-marker"></i><p>places</p></button></a>
                    <a data-toggle="pill" href="" ng-click="updateprofileTabPos(2)"><button type="button" class="btn tpp"><i class="fa fa-camera-retro"></i><p>photos</p></button></a>
    </div>
</div>
<div ng-show="!isSiteLoaded" class="container">
    <div class="site-loader site-loader-center" style="margin-top: 50px;">
        <div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
        <p>I travel, therefore I am</p>
    </div>
</div>
<div ng-show="isSiteLoaded">
    <div ng-show="myTrips" class="container profilecontent">
        <div id="trips" class="" ng-show="profileTabPos == 0">
            <h3>Trips</h3>
            <div class="col-sm-6 col-md-4" ng-repeat="trip in myTrips | filter:query">
               <div class="thumbnail location-thumb">
                <a ng-href="#/account/timeline/{{trip.id}}" class="thumb-img">
                    <img class="xpro2 trip-img" ng-src="{{trip.cropped_image_url}}" alt="thumbnail1">
                </a>
                <div class="caption">
                    <a ng-href="#/account/timeline/{{trip.id}}">
                        <span class=" trip_name title-overflow-hidden">{{trip.title}}</span>
                    </a>
                    <!--<span class="pull-right trip_date">{{trip.visited_places[0].date | date:"dd/MM/yyyy"}}</span>-->
                    <span class="pull-left"><a ng-href="#/account/profile/{{trip.user.id}}"><img ng-src="{{trip.user.facebook_profile.picture.data.url}}" alt="profile_pic" class="avatar img-circle"></a></span>
                    <span class="user_name_thumbnail"><a ng-href="#/account/profile/{{trip.user.id}}">{{trip.username}}</a></span>
                    <span class="pull-right stats_thumbnail">{{trip.total_likes}}</span>
                    <span class="pull-right"><em class="fa fa-heart Like_icon_thumbnail"></em></span>

                    <!--<span class="pull-right stats_thumbnail">19</span>-->
                    <!--<span class="pull-right"><em class="fa fa-comments Like_icon_thumbnail"></em></span>-->
                </div>
            </div>
            </div>
        </div>
        <div id="places" class="" ng-show="profileTabPos == 1">
            <h3>Places</h3>
            <div class="">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                    <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'" options="marker.options" click="onClick()" events="marker.events">
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
        <div id="photos" class="" ng-show="profileTabPos == 2">
            <h3>Photos</h3>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="image in allTripImages track by $index">
                <a ng-click="toggleModal(getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                    <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="container profilecontent">
        <div ng-show="isPageLoading && myTrips == undefined" class="content-wrap text-center">
            <p>No Trips yet?....Lets <a href="#/account/postTrip/">Get Started</a></p>
            <div class="site-content container">
                <div class="col-sm-1">
                </div>                
            </div>
        </div>
    </div>
</div>
