<script src="js/inspiration/jquery-ui-i18n.min.js"></script>
<script src="js/inspiration/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<modal-dialog image-url="modalImageUrl" show="modalShown" width="850px" height="60%">
</modal-dialog>
<div class="profile_page_header text-center">
    <div class="profilepicture text-center">
        <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle img-responsive">
        <span class="user_name">{{userObj.facebook_profile.name}}</span>
    </div>
    <div ng-show="!isProfileInformationInEdit && isMyProfile" ng-click="isProfileInformationInEdit = true" class="btn btn-default">Edit Form</div>
    <div class="about-me text-center container">
        <h2>in 10 seconds</h2>
        <div class="">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/location pin.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last seen in</span>
                            <p ng-show="profileInformation.lastSeenIn && !isProfileInformationInEdit">{{profileInformation.lastSeenIn}}</p>
                            <p ng-show="!profileInformation.lastSeenIn && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastSeenIn" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/book.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last on-the-go Read</span>
                            <p ng-show="profileInformation.lastOnTheGoRead && !isProfileInformationInEdit">{{profileInformation.lastOnTheGoRead}}</p>
                            <p ng-show="!profileInformation.lastOnTheGoRead && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastOnTheGoRead" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Traveller.png">
                        </div>
                        <div class="col-md-7">
                            <span>Traveller Type</span>
                            <p ng-show="profileInformation.travellerType && !isProfileInformationInEdit">{{profileInformation.travellerType}}</p>
                            <p ng-show="!profileInformation.travellerType && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.travellerType" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Companion.png">
                        </div>
                        <div class="col-md-7">
                            <span>Ideal Trip Companion</span>
                            <p ng-show="profileInformation.idealTripCompanion && !isProfileInformationInEdit">{{profileInformation.idealTripCompanion}}</p>
                            <p ng-show="!profileInformation.idealTripCompanion && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.idealTripCompanion" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/Money.png">
                        </div>
                        <div class="col-md-7">
                            <span>Last Trip Expense</span>
                            <p ng-show="profileInformation.lastTripExpense && !isProfileInformationInEdit">{{profileInformation.lastTripExpense}}</p>
                            <p ng-show="!profileInformation.lastTripExpense && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.lastTripExpense" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../../css/images/profile_page_icons/plane.png">
                        </div>
                        <div class="col-md-7">
                            <span>Next Destination</span>
                            <p ng-show="profileInformation.nextDestination && !isProfileInformationInEdit">{{profileInformation.nextDestination}}</p>
                            <p ng-show="!profileInformation.nextDestination && !isProfileInformationInEdit">Not Updated</p>
                            <input type="text" ng-model="profileInformation.nextDestination" ng-show="isProfileInformationInEdit && isMyProfile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</h5>
    </div>
    <div class="trips_places_photos">
                    <!--<a data-toggle="pill" href="" ng-click="updateprofileTabPos(0)"><button type="button" class="btn tpp" style="margin-left:0px;"><i class="fa fa-map-o"></i><p>trips</p></button></a>
                    <a data-toggle="pill" href="" ng-click="updateprofileTabPos(1)"><button type="button" class="btn tpp"><i class="fa fa-map-marker"></i><p>places</p></button></a>
                    <a data-toggle="pill" href="" ng-click="updateprofileTabPos(2)"><button type="button" class="btn tpp"><i class="fa fa-camera-retro"></i><p>photos</p></button></a>-->
        <a data-toggle="pill" href="" ng-click="updateprofileTabPos(0)"><button type="button" class="btn tpp"><i class="fa fa-plus"></i><p>Bucket List</p></button></a>
        <a data-toggle="pill" href="" ng-click="updateprofileTabPos(1)"><button type="button" class="btn tpp"><i class="fa fa-check"></i><p>Places I've Been</p></button></a>
        <a data-toggle="pill" href="" ng-click="updateprofileTabPos(2)"><button type="button" class="btn tpp"><i class="fa fa-pencil"></i><p>Reviews/Tips</p></button></a>
    </div>
</div>
<div ng-show="!isSiteLoaded" class="container">
    <div class="site-loader site-loader-center" style="margin-top: 50px;">
        <div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
        <p>I travel, therefore I am</p>
    </div>
</div>
<div ng-show="isSiteLoaded">
    <div ng-show="true" class="container profilecontent">
        <div id="trips" class="" ng-show="profileTabPos == 0">
            <h3>Bucket List</h3>
            <div class="dynamic" style="position: relative; height: 2979px;">
                <div class="panel col-md-3 col-sm-6 col-xs-6" style="position: absolute; left: 0px; top: 0px; padding-left:10px; padding-right:10px;" ng-if="!locationCard.is_explored" ng-repeat="locationCard in locationCards track by $index">
                    <div class="insp-panel">
                        <a ng-href="#/location/{{locationCard.place_id}}">
                            <div style="width:100%">
                                <img ng-src="{{locationCard.panoramio_image.imageUrl}}" alt="beo" class="img-responsive insp-image">
                            </div>
                        </a>
                        <div class="caption text-center">
                            <a ng-href="#/location/{{locationCard.place_id}}"><p>{{locationCard.name}}</p></a>
                            <span class="insp-tags" ng-repeat="tag in locationCard.tags">#{{tag}} </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="places" class="" ng-show="profileTabPos == 1">
            <h3>Places I've Been</h3>
            <div class="dynamic" style="position: relative; height: 2979px;">
                <div class="panel col-md-3 col-sm-6 col-xs-6" style="position: absolute; left: 0px; top: 0px; padding-left:10px; padding-right:10px;" ng-if="locationCard.is_explored" ng-repeat="locationCard in locationCards track by $index">
                    <div class="insp-panel">
                        <a ng-href="#/location/{{locationCard.place_id}}">
                            <div style="width:100%">
                                <img ng-src="{{locationCard.panoramio_image.imageUrl}}" alt="beo" class="img-responsive insp-image">
                            </div>
                        </a>
                        <div class="caption text-center">
                            <a ng-href="#/location/{{locationCard.place_id}}"><p>{{locationCard.name}}</p></a>
                            <span class="insp-tags" ng-repeat="tag in locationCard.tags">#{{tag._content}} </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="photos" class="" ng-show="profileTabPos == 2">
            <div class="usr-panel">
            	<span class="lctn"><i class="fa fa-map-marker"></i> Nanda Devi</span><span class="strs"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                <button class="btn v-btn pull-right">
                View Review
                </button><br>
                <span class="brdcrms"> &nbsp; India | Assam | Nanda Devi</span>
                <p class="rvw">
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
"
                </p>
            </div>
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="image in allTripImages track by $index">
                <a ng-click="toggleModal(getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                    <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                </a>
            </div>-->
        </div>
    </div>
</div>
    <!--<div class="container profilecontent">
            <div ng-show="isPageLoading && myTrips == undefined" class="content-wrap text-center">
                <p>No Trips yet?....Lets <a href="#/account/postTrip/">Get Started</a></p>
                <div class="site-content container">
                    <div class="col-sm-1">
                    </div>                
                </div>
            </div>
        </div>-->
