<div class="guidlines-wrap container">
    <div class="text-center">
        <h1>Campture Guidlines</h1>
        <p class="text-left">Campture is a place for adventure seekers, storytellers, photographers and creatives to post their experience in a beautiful narrative format. We are a community on a mission to create the most rewarding place to share your experience, tell stories, share wisdom and connect with the world.
        </p>
        <p class="text-left">
As a community product, we’re nothing without you. We promise to treat all members fairly, communicate our policies clearly, and support everyone to the best of our ability. So we hold ourselves to a high standard when it comes to how we manage our community.
        </p>
        <p class="text-left">That said, we expect a few things from you. Here are some DOs and DON’Ts for using Campture.</p>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 style="f">The Dos</h1>
            </div>
            <div class="col-md-6">
                <ol>
                    <li>
  Upload only your own work. We’re a community of creative people and we look out for each other. So only upload photos that you created or have written permission to use.
                    </li>
                    <li>
  Upload your best photos. If you just want to dump your entire photo archive somewhere, there are plenty of other sites for that. We just want your best experiences.
                    </li>
                    <li>
  Tell a story! Write some words to go with your photos. The context turns a pile of photos into story. Sometimes just a few words can make all the difference.
                    </li>
                    <li>
  Tell us how we’re doing. Bump into a bug or something that doesn’t look right? See something that shouldn’t be here? Have an idea for a feature? Tell us. We love hearing from you.
                    </li>
                </ol>
            </div>
            <div class="col-md-6 text-center">
                <h1 style="f">The Don'ts</h1>
            </div>
            <div class="col-md-6">
                <ol>
                    <li>
  Don’t upload an image you didn’t create or you do not have permission to use. Copyright violations will not be tolerated.
                    </li>
                    <li>
  Don’t be a jerk. Don’t use Campture to annoy, harass, or abuse anyone. Hate speech, impersonation, and intimidation are not allowed.
                    </li>
                    <li>
  Don’t use Campture only as an image hosting service.Tell your stories instead.
                    </li>
                    <li>
  We also ask that you not show nudity in your member avatar or in story covers. Campture is not for porn. No images of explicit sexual situations are allowed.
                    </li>
                </ol>
            </div>
            <div class="text-center">
                <h1>Bottom Line</h1>
                <p>We reserve the right to remove any image, story, or member that violates these guidelines. We hate doing that, so please don’t make us.</p>

                <p>
Got a question about something not covered here? Just ask. We would love to hear from you at info@campture.com
                </p>

            </div>

        </div>
    </div>
</div>