<modal-dialog image-url="modalImageUrl" show='modalShown' width='850px' height='60%'>                            
</modal-dialog>
<div class="text-center trip-titlebar" ng-style="{'background-image':'url(' +getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_960/')+ ')'}"></div>
<div class="timeline-tripname text-center">
    <span>{{trip.title}}</span>
</div>   
<div class="trip-intro text-center"><img src="../css/images/Comma left.png" alt="comma1">
    <p>{{trip.introduction}}</p>
    <img src="../css/images/Comma right.png" alt="comma2">
    <div class="by-user">
    <a ng-href="#/account/profile/{{userObj.id}}">
    <img class="img-circle" ng-src="{{userObj.facebook_profile.picture.data.url}}" alt="profile">
    <p>{{userObj.facebook_profile.name}}</p>
    </a>
    </div>
    <div class="col-md-3">
    <a ng-show="isMyProfile"  ng-href="/#/account/editTrip/{{trip.id}}" class="btn btn-primary btn-lg round" style="text-transform:none!important;">Edit your trip</a>                
 </div>
</div>
<div class="timeline-thirdheader text-center">
    <div class="container">
        <div class="row">                        
            <div class="col-md-6 col-md-offset-3 Itinerary text-center col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <a href="" ng-click="updateTripTabPos(0)"><i class="fa fa-map-o">&nbsp; </i><p style="margin-bottom:0px!important;">Itinerary</p></a>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4" ng-click="updateTripTabPos(1)">
                        <a href="" ng-click="updateTripTabPos(1)"><i class="fa fa-map-marker"> &nbsp;</i><p style="margin-bottom:0px!important;">Places</p></a>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-3">
                        <a href="" ng-click="updateTripTabPos(2)"><i class="fa fa-picture-o">&nbsp;</i><p style="margin-bottom:0px!important;">Photos</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 Itinerary">
                <div class="row likecommentshare">
                    <div class="col-md-3 col-xs-4 col-sm-4 col-md-offset-2 col-lg-offset-3 text-center">
                        <a href="" ng-class="{likeDisabled: isLikeDisabled}" ng-click="tripLikeUnlike();isLikeDisabled = !isLikeDisabled">
                            <i class="fa fa-heart-o" ng-show="likeId == undefined"><sup>{{trip.total_likes}}</sup></i>
                            <i class="fa fa-heart" ng-show="likeId" style="color:#f56c36;"><sup>{{trip.total_likes}}</sup></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-4 col-sm-4 text-center"><a href="" ng-click="scrollToCommentSection()"><i class="fa fa-comments"><sup><span class="fb-comments-count" data-href="{{pageUrl}}"></span></sup></i></a></div>
                    <div class="col-md-3 col-xs-4 col-sm-4 text-center"><a href=""><i class="fa fa-share-alt"><sup></sup></i></a></div>
                    <!--<div id="content">
                        <input type="checkbox" class="checkbox" id="share" checked>
                        <label for="share" class="label entypo-export"></label>
                        <div class="social">
                            <ul>
                                <li class="entypo-twitter"></li>
                                <li class="entypo-facebook"></li>
                                <li class="entypo-gplus"></li>
                            </ul>
                        </div>
                    </div>-->
                    <!--<div class="fb-share-button" data-href="{{pageUrl}}" data-layout="icon"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="itenary" ng-show="tripTabIndex == 0" class="col-md-9 col-sm-12 col-xs-12" >
            <div class="content">
                <!--<div class="portfolio-item no-line group first">   
                    <div class="trip-intro"><img src="../css/images/Comma left.png" alt="comma1">
                        <p>{{trip.introduction}}</p>
                        <img src="../css/images/Comma right.png" style="float:right;" alt="comma2">
                        <a ng-href="#/account/profile/{{userObj.id}}">
                            <div class="by-user">
                                <img ng-src="{{userObj.facebook_profile.picture.data.url}}" alt="profile" class="round">
                                <span>{{userObj.facebook_profile.name}}</span>
                            </div>
                        </a>    
                    </div>
                    <div class="portfolio-image">
                        <img ng-show="trip.main_image" ng-src="{{getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_960/')}}" class="fullwidth" alt="" style="display: block;">
                    </div>
                </div>-->
                <div class="portfolio-item group" ng-repeat="place in trip.visited_places track by $index">
                    <div class="portfolio-info">
                       <div class="date"><strong>{{place.location}}</strong> <br>{{place.date | date:"dd MMMM yyyy" }}</div>
                        <div class="description">
                            {{place.note}}
                        </div>                        
                    </div>
                    <div class="portfolio-image">
                    <uib-carousel interval="" no-wrap="false">
                      <uib-slide class="select-pointer" ng-click="toggleModal(getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/'))" ng-repeat="image in place.images track by $index" active="slide.active" index="$index">
                        <img  ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_500,w_960/')}}" style="margin:auto;">
                      </uib-slide>
                    </uib-carousel>
                      <!--<div class="container image-gallery-slider">
                        <img ng-repeat="image in place.images track by $index" class="image-gallery-slide" ng-swipe-right="showPrev(place.images)" ng-swipe-left="showNext(place.images)" ng-show="isActive($index)" ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_500,w_960/')}}" />
                        <a class="image-gallery-arrow prev" href="" ng-click="showPrev(place.images)"> Prev </a>
                        <a class="image-gallery-arrow next" href="" ng-click="showNext(place.images)"> Next </a>
                        <ul class="image-gallery-nav">
                            <li ng-repeat="image in place.images track by $index" ng-class="{'active':isActive($index)}">
                                <img ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_120,w_120/')}}" alt="{{}}" title="{{}}" ng-click="showPhoto($index);" />
                            </li>
                        </ul>
                    </div>-->                                                                   
                    </div>
                </div>
                <div class="text-center col-xs-12 timelineend">
                    <p class="thatsall col-md-offset-6 col-sm-offset-6 col-xs-offset-3"> That's all Folks!</p><br>
                    <div class="credits col-md-offset-3 col-sm-offset-4">
                        <a ng-href="#/account/profile/{{userObj.id}}">
                            <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle">
                            <p>{{userObj.facebook_profile.name}}</p>
                        </a>
                    </div>
                    <div class="timeline-tags col-md-offset-3">
                        <span id="tags">Tags:</span><span ng-repeat="tag in trip.tags track by $index"><a ng-href="#/feed/{{tag}}">{{tag}}</a></span></div>
                </div>               
            </div>
        </div>
        <div id="places" ng-show="tripTabIndex == 1">            
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="content">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                          geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
                    </ui-gmap-polyline>            
                <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'"  options="marker.options" click="onClick()" events="marker.events">
                </ui-gmap-markers>
            </ui-gmap-google-map>
                </div>
            </div>
        </div>
        <div id="photos" ng-show="tripTabIndex == 2" class="col-md-9">
            <div class="content">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a ng-click="toggleModal(getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                    <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="placeImage in timelineImages track by $index">
                <a ng-click="toggleModal(getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                    <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                </a>
            </div>
            </div>
        </div>        
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="stay-connected col-lg offset 4 col-md-offset-2 col-xs-12 col-sm-offset-5">
                    <span>Stay Connected</span>
                </div>
            </div>
        <div class="col-md-12 col-sm-3 col-xs-6" ng-repeat="trip in relatedTrips | filter:query">
        <div class="thumbnail">
            <a ng-href="#/account/timeline/{{trip.id}}">
              <img ng-src="{{trip.cropped_image_url}}" alt="thumbnail1" >
            </a>
          <div class="caption">
            <a ng-href="#/account/timeline/{{trip.id}}">
                <span class="pull-left trip_name">{{trip.title}}</span>
            </a>
            <span class="pull-right trip_date">{{trip.visited_places[0].date | date:"dd/MM/yyyy"}}</span>
            <br>
            <span class="pull-left"><a ng-href="#/account/profile/{{trip.user.id}}"><img ng-src="{{trip.user.facebook_profile.picture.data.url}}" alt="profile_pic" class="avatar img-circle"></a></span>
            <span class="user_name_thumbnail"><a ng-href="#/account/profile/{{trip.user.id}}">{{trip.username}}</a></span>
            <span class="pull-right stats_thumbnail">{{trip.total_likes}}</span>
            <span class="pull-right"><em class="fa fa-heart Like_icon_thumbnail"></em></span>
        
            <!--<span class="pull-right stats_thumbnail">19</span>-->
            <span class="pull-right"><em class="fa fa-comments Like_icon_thumbnail"></em></span>        
           </div>
            </div>
            </div>
     </div>   
    </div>
</div>
<div class="container text-center">
<div class="comments-wrap" id="comments">
	<div class="comments container">
        <div id="fb-comment-box" dynamic-fb-comment-box
            page-href="{{pageUrl}}"
            numposts="5"
            colorscheme="light">
        </div>    	
	</div>
</div>
</div>
<!--//-->
<!-- slider container -->
    <!--<div class="container image-gallery-slider">
        <img ng-repeat="photo in photos" class="image-gallery-slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
        <a class="image-gallery-arrow prev" href="#" ng-click="showPrev()"></a>
        <a class="image-gallery-arrow next" href="#" ng-click="showNext()"></a>
        <ul class="image-gallery-nav">
            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
            </li>
        </ul>
    </div>-->
 <!--<flex-slider slide="image in prod.imagePaths track by $index" animation="slide" control-nav="thumbnails">
                <li data-thumb="{{image.thumbnail}}">
                    <img ng-src="{{image.custom}}">
                </li>
            </flex-slider>-->
<!--<div ap-fotorama="options" ng-model="items">-->