<div class="timeline-wrap">
    <div ng-show="postStep == 1 || postStep == 2 || postStep == 4" class="timeline-top-section">
        <!--full screen cover image #1, #4(full-height) #2(half-height)-->
        <div class="timeline-cover-photo-wrap full-height" ng-class="{'full-height': postStep == 1 || postStep == 4, 'half-height': postStep == 2 }" style="background-image:url(../../../../css/images/IMG_0074.JPG)" ng-style="{'background-image':'url(' +getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_960/')+ ')'}">
        </div>
        <div class="timeline-heading container">
            <!--trip heading and disc #2-->
            <div class="trip-title text-center">
                <p class="trip-name">{{trip.title}}</p>
            </div>
            <!--
<div class="trip-disc text-center">
<img src="./css/images/Comma_left.png" class="pull-left"><br>
<p>{{trip.introduction}}</p>
<img src="./css/images/Comma_right.png" class="pull-right">
</div>
-->
            <div class="profile-pic text-center">
                <img ng-src="{{trip.user.facebook_profile.picture.data.url}}" class="img-circle">
                <p>{{trip.user.facebook_profile.name}}</p>
            </div>
        </div>
        <!--Itinerary, places, photos header, appears after first card #4(show)-->
        <div ng-show="postStep == 4" class="timeline-thirdheader-two text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 Itinerary text-center col-xs-12 col-sm-8 col-md-offset-1 col-sm-offset-1">
                        <div class="row">
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 0}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button">
                                <a href="" ng-click="updateTripTabPos(0)"><i class="fa fa-map-o">&nbsp; </i><span style="margin-bottom:0px!important;">Guide</span></a>
                            </div>
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 1}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button" ng-click="updateTripTabPos(1)">
                                <a href="" ng-click="updateTripTabPos(1)"><i class="fa fa-map-marker"> &nbsp;</i><span style="margin-bottom:0px!important;">Places</span></a>
                            </div>
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 2}" class="col-md-4 col-xs-4 col-sm-3 Itinerary-places-photos-button">
                                <a href="" ng-click="updateTripTabPos(2)"><i class="fa fa-picture-o">&nbsp;</i><span style="margin-bottom:0px!important;">Photos</span></a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-1 col-sm-1 hidden-xs">
<a class="like-button">
<span class="like-icon">
<div class="heart-animation-1"></div>
<div class="heart-animation-2"></div>
</span>
Like &nbsp; | 200
</a>
</div>-->
                    <!--<div class="col-md-1 col-sm-1 hidden-xs"><a ng-click="addToBookmark()">Bookmark</a></div>-->
                    <div class="col-md-2">
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle share-button-timeline " type="button" data-toggle="dropdown">Share
                                <span><i class="fa fa-share-alt"></i></span></button>
                            <ul class="rrssb-buttons dropdown-menu rrssb-buttons-dropup">
                                <li style="cursor: pointer" class="rrssb-facebook small">
                                    <a ng-click="shareOnFacebook()" class="popup">
                                        <span class="rrssb-icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                </li>
                                <li class="rrssb-twitter small">
                                    <a ng-href="https://twitter.com/intent/tweet?text={{trip.title | escape}}%20%7C%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;" class="popup">
                                        <span class="rrssb-icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                </li>
                                <li class="rrssb-pinterest small">
                                    <a ng-href="http://pinterest.com/pin/create/button/?url={{pageUrl | escape}}&amp;media={{trip.main_image.image_url}}&amp;description={{trip.title | escape}}%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;">
                                        <span class="rrssb-icon"><i class="fa fa-pinterest"></i></span>
                                    </a>
                                </li>
                                <li class="rrssb-email small">
                                    <a href="mailto:?subject={{trip.title| escape}}&amp;body={{pageUrl | escape}}%0A{{trip.introduction | escape}}">
                                        <span class="rrssb-icon"><i class="fa fa-at"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                        <a class="like-button" style="margin:auto;">
                            <span class="like-icon">
                                <div class="heart-animation-1"></div>
                                <div class="heart-animation-2"></div>
                            </span>
                            Like &nbsp; | 200
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Add first card button #2 #4(hide)-->
        <div ng-show="isMyProfile && postStep == 2" ng-click="addPlace()" class="intro-add-trip">
            <div class="container">
                <div class="plus-pulse2">
                </div>
                <div class="plus-button-intro" data-toggle="modal" data-target="#addcardModal">
                    <i class="fa fa-plus-circle" style="color:#f56c36; font-size:50px;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!--welcome to timeline, appears after uploading cover photo-->
        <div ng-show="postStep == 2" class="welcome-to-timeline col-md-12 text-center">
            <p class="welcome-name">
                hello, {{trip.user.facebook_profile.name}}
            </p>
            <p class="ready-to-map">
                Ready to map your Journey?
            </p>
            <p class="ready-to-map">
                Hit the + button to start!
            </p>
        </div>
        <!--Timeline places photos #4-->
        <div ng-show="postStep == 4" class="timeline-places-photos">
            <div class="col-md-12" style="padding:0;">
                <div class="trip-disc text-center container">
                    <img src="./css/images/Comma_left.png" class="pull-left"><br>
                    <p>{{trip.introduction}}</p>
                    <img src="./css/images/Comma_right.png" class="pull-right">
                </div>
                <div class="col-md-7 ">
                    <!--Timeline section within the tab-->
                    <div class="timeline">
                        <div id="guide" ng-show="tripTabIndex == 0" class="col-md-12" style="padding:0;">
                            <div ng-repeat="place in trip.visited_places track by $index" class="timeline-card col-md-12">
                                <div class="col-md-4">
                                    <div class="card-desc">
                                        <div class="card-date-loca">
                                            <span class="card-location">
                                                {{place.location}}
                                            </span>
                                            <span class="card-date">
                                                {{place.date | date:"dd MMMM yyyy" }}
                                            </span>
                                            <!--<button class="btn btn-buck" style="border-color:#555; background-color:#f56c36;"> <i class="fa fa-plus"></i> Bucketlist</button> 
<button class="btn btn-check" style="border-color:#000; color:#000;"><i class="fa fa-check"></i></button>-->
                                        </div>
                                        <div class="location-desc">
                                            <span>
                                                {{place.note}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" style="padding:0;">
                                    <div class="card-photo">
                                        <div class="panel">
                                            <uib-carousel interval="" no-wrap="false">
                                                <uib-slide ng-init="placeImageIndex = $index" class="select-pointer" ng-click="openLightboxModal(image.timelineIndex)" ng-repeat="image in place.images track by $index" active="slide.active" index="$index"><!--getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/')-->
                                                    <img ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_pad,h_450,w_600/')}}" style="margin:auto;">
                                                </uib-slide>
                                            </uib-carousel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Add card button if current user's trip-->
                            <div ng-show="isMyProfile" class="add-card-button">
                                <div class="plus-pulse">
                                </div>
                                <a class="plus-button">
                                    <i class="fa fa-plus-circle" style="color:#f56c36; font-size:50px;"></i>
                                </a>
                            </div>
                        </div>
                        <!--timelineEnd-->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="content" bs-affix data-offset-top="1160" data-offset-bottom="300">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fit="false" editable="p.editable" draggable="p.draggable" icons="p.icons">
                            </ui-gmap-polyline>
                            <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'" options="marker.options" click="onClick()" events="marker.events">
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                </div>
                              <div id="placesMap" ng-show="tripTabIndex == 1" class="col-md-12">
                <div class="content">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fit="false" editable="p.editable" draggable="p.draggable" icons="p.icons">
                        </ui-gmap-polyline>
                        <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'" options="marker.options" click="onClick()" events="marker.events">
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div id="photos" ng-show="tripTabIndex == 2" class="col-md-12">
                <div class="content">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a ng-click="toggleModal(getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                            <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="placeImage in timelineImages track by $index">
                        <a ng-click="toggleModal(getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                            <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-xs-12 timelineend">
            <!--<p class="thatsall col-md-offset-6 col-sm-offset-6 col-xs-offset-3"> That's all Folks!</p><br>-->
            <div class="credits">
                <a ng-href="/account/profile/{{userObj.id}}">
                    <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle">
                    <p class="dancing-script">{{userObj.facebook_profile.name}}</p>
                                            </a>
                    </div>
                </div>
        
            <div class="row ">
                <div class="container">
                <div class="stay-connected">
                    <span>Recommended</span>
                </div>
            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="trip in relatedTrips | filter:query">
                <div ng-hide="trip.id == allTripId" class="thumbnail location-thumb">
                <div class="thumb-img">
                    <a ng-href="/account/timeline/{{trip.id}}">
                        <img ng-src="{{trip.cropped_image_url}}" alt="thumbnail1" class="ig-lofi trip-img">
                    </a>
                </div>    
                    <div class="caption">
                        <a ng-href="/account/timeline/{{trip.id}}">
                            <span class="trip_name title-overflow-hidden">{{trip.title}}</span>
                        </a>
                        <!--<span class="pull-right trip_date">{{trip.visited_places[0].date | date:"dd/MM/yyyy"}}</span>!-->
                        <span class="pull-left"><a ng-href="/account/profile/{{trip.user.id}}"><img ng-src="{{trip.user.facebook_profile.picture.data.url}}" alt="profile_pic" class="avatar img-circle"></a></span>
                        <span class="user_name_thumbnail"><a ng-href="/account/profile/{{trip.user.id}}">{{trip.username}}</a></span>
                        <!--<span class="pull-right stats_thumbnail">{{trip.total_likes}}</span>!-->
                        <span class="pull-right"><em class="fa fa-heart Like_icon_thumbnail"><sup>{{trip.total_likes}}</sup></em></span>

                        <!--<span class="pull-right stats_thumbnail">19</span>-->
                        <!--<span class="pull-right"><em class="fa fa-comments Like_icon_thumbnail"></em></span>-->
                    </div>
                </div>
            </div>
                </div>
            </div>
        <div class="container text-center">
            <div class="comments-wrap" id="comments">
                <div class="comments container">
                    <div id="fb-comment-box" dynamic-fb-comment-box page-href="{{pageUrl}}" numposts="5" colorscheme="light">
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="timeline-tags">
                <span id="tags">Tags:</span><span ng-repeat="tag in trip.tags track by $index" class="tage"><a ng-href="#/feed/{{tag}}">{{tag}}</a></span>
                <ul class="rrssb-buttons">
                    <li style="cursor: pointer" class="rrssb-facebook small">
                        <a ng-click="shareOnFacebook()" class="popup">
                            <span class="rrssb-icon"><i class="fa fa-facebook"></i></span>
                        </a>
                    </li>
                    <li class="rrssb-twitter small">
                        <a ng-href="https://twitter.com/intent/tweet?text={{trip.title | escape}}%20%7C%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;" class="popup">
                            <span class="rrssb-icon"><i class="fa fa-twitter"></i></span>
                        </a>
                    </li>
                    <li class="rrssb-pinterest small">
                        <a ng-href="http://pinterest.com/pin/create/button/?url={{pageUrl | escape}}&amp;media={{trip.main_image.image_url}}&amp;description={{trip.title | escape}}%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;">
                            <span class="rrssb-icon"><i class="fa fa-pinterest"></i></span>
                        </a>
                    </li>
                    <li class="rrssb-email small">
                        <a href="mailto:?subject={{trip.title| escape}}&amp;body={{pageUrl | escape}}%0A{{trip.introduction | escape}}">
                            <span class="rrssb-icon"><i class="fa fa-at"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <style type="text/css">
        .hide-dropzone .dz-preview {
            display: none
        }

        .pac-container{
            z-index: 9999999999999999999999
        }
        .hand-pointer {
            cursor: pointer;
        }
        .selected-image-border{
            border:2px solid red;
        }
        .affix-top {
    top: 30px; // css to define
}

.affix-bottom {
    bottom: 0; // css to define
}
    </style>
    <script>
        $('a.like-button').on('click', function() {
            $(this).toggleClass('liked');
        });
    </script>
