<div class="timeline-wrap">
    <div ng-show="postStep == 1 || postStep == 2 || postStep == 4" class="timeline-top-section">
        <!--full screen cover image #1, #4(full-height) #2(half-height)-->
        <div class="timeline-cover-photo-wrap full-height" ng-class="{'full-height': postStep == 1 || postStep == 4, 'half-height': postStep == 2 }" style="background-image:url(../../../../css/images/IMG_0074.JPG)" ng-style="{'background-image':'url(' +getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_960/')+ ')'}">
        </div>
        <div class="timeline-heading container">
            <!--trip heading and disc #2-->
            <div class="trip-title text-center">
                <p class="trip-name">{{trip.title}}</p>
            </div>
            <div class="trip-disc text-center">
                <img src="./Campture_files/Comma_left.png" class="pull-left"><br>
                <p>{{trip.introduction}}</p>
                <img src="./Campture_files/Comma_right.png" class="pull-right">
            </div>
            <div class="profile-pic text-center">
                <img ng-src="{{trip.user.facebook_profile.picture.data.url}}" class="img-circle">
                <p>{{trip.user.facebook_profile.name}}</p>
            </div>
        </div>
        <!--Itinerary, places, photos header, appears after first card #4(show)-->
        <div ng-show="postStep == 4" class="timeline-thirdheader-two text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 Itinerary text-center col-xs-12 col-sm-8 col-md-offset-1 col-sm-offset-1">
                        <div class="row">
                            <a href="" ng-click="updateTripTabPos(0)">
                                <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 0}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button">
                                    <i class="fa fa-map-o">&nbsp; </i><span style="margin-bottom:0px!important;">Guide</span>
                                </div></a>
                            <a href="" ng-click="updateTripTabPos(1)">
                                <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 1}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button" ng-click="updateTripTabPos(1)">
                                    <i class="fa fa-map-marker"> &nbsp;</i><span style="margin-bottom:0px!important;">Places</span>
                                </div></a>
                            <a href="" ng-click="updateTripTabPos(2)">
                                <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 2}" class="col-md-4 col-xs-4 col-sm-3 Itinerary-places-photos-button">
                                    <i class="fa fa-picture-o">&nbsp;</i><span style="margin-bottom:0px!important;">Photos</span>
                                </div></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <a class="like-button">
                            <span class="like-icon">
                                <div class="heart-animation-1"></div>
                                <div class="heart-animation-2"></div>
                            </span>
                            Like &nbsp; | 200
                        </a>
                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs">
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle share-button-timeline " type="button" data-toggle="dropdown">Share
                                <span><i class="fa fa-share-alt"></i></span></button>
                            <ul class="rrssb-buttons dropdown-menu rrssb-buttons-dropup">
                                <li style="cursor: pointer" class="rrssb-facebook small">
                                    <a ng-click="shareOnFacebook()" class="popup">
                                        <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"></path></svg></span>
                                        <span class="rrssb-text">facebook</span>
                                    </a>
                                </li>
                                <li class="rrssb-twitter small">
                                    <a ng-href="https://twitter.com/intent/tweet?text={{trip.title | escape}}%20%7C%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;" class="popup">
                                        <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"></path></svg></span>
                                        <span class="rrssb-text">twitter</span>
                                    </a>
                                </li>
                                <li class="rrssb-pinterest small">
                                    <a ng-href="http://pinterest.com/pin/create/button/?url={{pageUrl | escape}}&amp;media={{trip.main_image.image_url}}&amp;description={{trip.title | escape}}%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;"><span class="rrssb-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                            <path d="M14.02 1.57c-7.06 0-12.784 5.723-12.784 12.785S6.96 27.14 14.02 27.14c7.062 0 12.786-5.725 12.786-12.785 0-7.06-5.724-12.785-12.785-12.785zm1.24 17.085c-1.16-.09-1.648-.666-2.558-1.22-.5 2.627-1.113 5.146-2.925 6.46-.56-3.972.822-6.952 1.462-10.117-1.094-1.84.13-5.545 2.437-4.632 2.837 1.123-2.458 6.842 1.1 7.557 3.71.744 5.226-6.44 2.924-8.775-3.324-3.374-9.677-.077-8.896 4.754.19 1.178 1.408 1.538.49 3.168-2.13-.472-2.764-2.15-2.683-4.388.132-3.662 3.292-6.227 6.46-6.582 4.008-.448 7.772 1.474 8.29 5.24.58 4.254-1.815 8.864-6.1 8.532v.003z"></path>
                                        </svg></span><span class="rrssb-text">pinterest</span>
                                    </a>
                                </li>
                                <li class="rrssb-email small">
                                    <a href="mailto:?subject={{trip.title| escape}}&amp;body={{pageUrl | escape}}%0A{{trip.introduction | escape}}"><span class="rrssb-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28">
                                            <path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"></path>
                                        </svg>
                                        </span>
                                        <span class="rrssb-text">email</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                        <a class="like-button" style="margin:auto;">
                            <span class="like-icon">
                                <div class="heart-animation-1"></div>
                                <div class="heart-animation-2"></div>
                            </span>
                            Like &nbsp; | 200
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Add first card button #2 #4(hide)-->
        <div ng-show="isMyProfile && postStep == 2" ng-click="addPlace()" class="intro-add-trip">
            <div class="container">
                <div class="plus-pulse2">
                </div>
                <div class="plus-button-intro" data-toggle="modal" data-target="#addcardModal">
                    <i class="fa fa-plus-circle" style="color:#f56c36; font-size:50px;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--welcome to timeline, appears after uploading cover photo-->
        <div ng-show="postStep == 2" class="welcome-to-timeline col-md-12 text-center">
            <p class="welcome-name">
                hello, {{trip.user.facebook_profile.name}}
            </p>
            <p class="ready-to-map">
                Ready to map your Journey?
            </p>
            <p class="ready-to-map">
                Hit the + button to start!
            </p>
        </div>
        <!--Timeline places photos #4-->
        <div ng-show="postStep == 4" class="timeline-places-photos">
            <div class="col-md-12" style="padding:0;">
                <div class="col-md-12">
                    <!--Timeline section within the tab-->
                    <div class="timeline">
                        <div id="guide" ng-show="tripTabIndex == 0" class="col-md-12" style="padding:0;">
                            <div ng-repeat="place in trip.visited_places track by $index" class="timeline-card col-md-12">
                                <div class="col-md-4">
                                    <div class="card-desc">
                                        <div class="card-date-loca">
                                            <span class="card-location">
                                                {{place.location}}
                                            </span>
                                            <span class="card-date">
                                                {{place.date | date:"dd MMMM yyyy" }}
                                            </span>
<!--
                                            <button class="btn btn-buck" style="border-color:#555; background-color:#f56c36;"> <i class="fa fa-plus"></i> Bucketlist</button> 
                                            <button class="btn btn-check" style="border-color:#000; color:#000;"><i class="fa fa-check"></i></button>           
-->

                                        </div>
                                        <div class="location-desc">
                                            <span>
                                                {{place.note}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" style="padding:0;">
                                    <div class="card-photo">
                                        <div class="panel">
                                            <uib-carousel interval="" no-wrap="false">
                                                <uib-slide ng-init="placeImageIndex = $index" class="select-pointer" ng-click="openLightboxModal(image.timelineIndex)" ng-repeat="image in place.images track by $index" active="slide.active" index="$index"><!--getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/')-->
                                                    <img ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_pad,h_450,w_600/')}}" style="margin:auto;">
                                                </uib-slide>
                                            </uib-carousel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Add card button if current user's trip-->
                            <div ng-show="isMyProfile" class="add-card-button">
                                <div class="plus-pulse">
                                </div>
                                <a  ng-href="#/account/postTrip/{{trip.id}}" class="plus-button">
                                    <i class="fa fa-plus-circle" style="color:#f56c36; font-size:50px;"></i>
                                </a>
                            </div>
                            <!--timelineEnd-->
                        </div>
                        <div id="placesMap" ng-show="tripTabIndex == 1" class="col-md-12">
                            <div class="content">
                                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fit="false" editable="p.editable" draggable="p.draggable" icons="p.icons">
                                    </ui-gmap-polyline>
                                    <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'" options="marker.options" click="onClick()" events="marker.events">
                                    </ui-gmap-markers>
                                </ui-gmap-google-map>
                            </div>
                        </div>
                        <div id="photos" ng-show="tripTabIndex == 2" class="col-md-12">
                            <div class="content">
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <a ng-click="toggleModal(getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                                        <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="placeImage in timelineImages track by $index">
                                    <a ng-click="toggleModal(getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                                        <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 timelineend">
                        <!--<p class="thatsall col-md-offset-6 col-sm-offset-6 col-xs-offset-3"> That's all Folks!</p><br>-->
                        <div class="credits">
                            <a ng-href="#/account/profile/{{userObj.id}}">
                                <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle">
                                <p class="dancing-script">{{userObj.facebook_profile.name}}</p>
                            </a>
                        </div>
                        <div class="row">
                            <div class="">

                                <a class="like-button" style="margin:auto;">
                                    <span class="like-icon">
                                        <div class="heart-animation-1"></div>
                                        <div class="heart-animation-2"></div>
                                    </span>
                                    Like &nbsp; | &nbsp; 200
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="media-buttons-margin">
                                <ul class="rrssb-buttons">
                                    <li style="cursor: pointer" class="rrssb-facebook small">
                                        <a ng-click="shareOnFacebook()" class="popup">
                                            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z" /></svg></span>
                                            <span class="rrssb-text">facebook</span>
                                        </a>
                                    </li>
                                    <li class="rrssb-twitter small">
                                        <a ng-href="https://twitter.com/intent/tweet?text={{trip.title|escape}}%20%7C%20{{pageUrl | escape}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;" class="popup">
                                            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z" /></svg></span>
                                            <span class="rrssb-text">twitter</span>
                                        </a>
                                    </li>
                                    <li class="rrssb-pinterest small">
                                        <a ng-href="http://pinterest.com/pin/create/button/?url={{pageUrl | escape}}&amp;media={{trip.main_image.image_url}}&amp;description={{trip.title|escape}}%20{{pageUrl | escape}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><span class="rrssb-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                                <path d="M14.02 1.57c-7.06 0-12.784 5.723-12.784 12.785S6.96 27.14 14.02 27.14c7.062 0 12.786-5.725 12.786-12.785 0-7.06-5.724-12.785-12.785-12.785zm1.24 17.085c-1.16-.09-1.648-.666-2.558-1.22-.5 2.627-1.113 5.146-2.925 6.46-.56-3.972.822-6.952 1.462-10.117-1.094-1.84.13-5.545 2.437-4.632 2.837 1.123-2.458 6.842 1.1 7.557 3.71.744 5.226-6.44 2.924-8.775-3.324-3.374-9.677-.077-8.896 4.754.19 1.178 1.408 1.538.49 3.168-2.13-.472-2.764-2.15-2.683-4.388.132-3.662 3.292-6.227 6.46-6.582 4.008-.448 7.772 1.474 8.29 5.24.58 4.254-1.815 8.864-6.1 8.532v.003z"></path>
                                            </svg></span><span class="rrssb-text">pinterest</span>
                                        </a>
                                    </li>
                                    <li class="rrssb-email small">
                                        <a href="mailto:?subject={{trip.title|escape}}&amp;body={{pageUrl | escape}}%0A{{trip.introduction | escape}}"><span class="rrssb-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28">
                                                <path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"></path>
                                            </svg>
                                            </span>
                                            <span class="rrssb-text">email</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="timeline-tags">
                            <span id="tags">Tags:</span><span ng-repeat="tag in trip.tags track by $index"><a ng-href="#/feed/{{tag}}">{{tag}}</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .hide-dropzone .dz-preview {
        display: none
    }

    .pac-container{
        z-index: 9999999999999999999999
    }
    .hand-pointer {
        cursor: pointer;
    }
    .selected-image-border{
        border:2px solid red;
    }

</style>
<script>
    $('a.like-button').on('click', function() {
        $(this).toggleClass('liked');
    });
</script>