        <div class="container">
            <h1 class="page-title">Activities</h1>
        </div>

        <div class="container">
            <div id="popup-gallery">                
                <div class="row row-col-gap">
                    <div ng-repeat="activity in activities">
                    <div class="col-md-4">
                        <a class="hover-img popup-gallery-image" ng-href="/availabletours/activity/{{activity.activity_id}" data-effect="mfp-zoom-out">
                            <img ng-src="{{activity.images[0].image_url}}" alt="Image Alternative text" title="{{activity.name}}" /><i class="fa fa-plus round box-icon-small hover-icon i round"></i>
                            {{activity.name}}
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>