<!DOCTYPE html>
<html lang="en" ng-app="campture">
    <head>
        <base href="/">
        <!--CSS-->
        <!--FONT Dependencies-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href="/css/new-design/latofonts.css" rel="stylesheet" type="text/css">
        <!--third party-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/colorbox.css" media="screen" />
        <link rel="stylesheet" href="css/dropzone.css">
        <!--in house-->
        <link rel="stylesheet" href="css/new-design/styles.css">
        <link rel="stylesheet" href="css/new-design/timeline-style.css">
        <link rel="stylesheet" href="css/new-design/socialShare.css">
        <!--Parse Dependencies-->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        
        
        <!--Meta-->
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="Campture, adventure, camping" />                    
        <meta property="og:title" content="Campture" />
        <meta property="og:description" content="This is campture description" />
        <meta property="og:image" content="http://res.cloudinary.com/dzseog4g3/image/upload/c_fill,h_400,w_960/v1449320744/dumeromf14sv5p3wj9o1.jpg" />
        <meta name="author" content="anujs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />       
        
        <title>Campture</title>
    </head>
    <body>
        <div id="fb-root"></div>
        <div ng-controller="HeaderCtrl">
            <nav id="headerId"  style="display: none;" class="navbar navbar-default no-margin no-background on-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/"><img src="css/images/logo.png" alt="logo"></a>
                        <div class="navbar-form navbar-left no-margin pc-no-display paddingnone" role="search">
                            <div class="wrap searchbar-input">
                                <form action="" ng-submit="searchTrips()" autocomplete="on">
                                    <input id="searchId" ng-model="query[queryBy]" class="campture-search" name="search1" type="text" placeholder="Search...">
                                    <button type="submit" ng-click="searchTrips()" ng-hide="true"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#/explore/" class="navbar-fonts navbar-link">EXPLORE</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle navbar-fonts" data-toggle="dropdown" style="padding:15px!important;">TAGS<span class="caret"></span></a>
                                <ul class="dropdown-menu tags tag-window-width paddingnone" role="menu">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 paddingnone" ng-repeat="headerTag in topTags">
                                        <a ng-href="#/feed/{{headerTag.tag}}" class="thumbnail no-margin">
                                            <img ng-src="{{headerTag.image_url}}">
                                        </a>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="#/howTo/" class="navbar-fonts navbar-link">HOW TO</a></li>
                            <li><a href="http://www.campture.com/blog/" target="_blank" class="navbar-fonts">BLOG</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left no-margin mobile-no-display" role="search">
                                <div class="wrap searchbar-input">
                                    <form ng-submit="searchTrips()" autocomplete="on">
                                        <input ng-model="query[queryBy]" class="campture-search" name="search2" type="text" placeholder="What're we looking for ?">
                                        <button type="submit" ng-click="searchTrips()" ng-hide="true"></button>
                                    </form>
                                </div>
                            </form>
                            <li><a ng-show="isPageHeaderLoaded && userObj == undefined" href="" class="header-elements loginwithfacebook" ng-click="loginWithFacebook()"><i class="fa fa-facebook-square">&nbsp;</i> <span>Login with Facebook</span></a></li>
                            <li><a ng-if="isPageHeaderLoaded && userObj" href="#/account/postTrip/" class="header-elements add_trip"><i class="fa fa-pencil-square-o" style="color:#FFFFFF;">&nbsp;</i><span>Add Trip</span></a></li>
                            <li><a href="" ng-if="isPageHeaderLoaded && userObj" ng-click="logout()" class="header-elements power_switch navbar-link" style="color: color: rgb(106, 106, 106)!important;"><i class="fa fa-power-off"></i></a></li>
                            <li><a ng-if="isPageHeaderLoaded && userObj" href="" ng-href="#/account/profile/{{userObj.objectId}}" class="header-elements paddingnone"><img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle profile_topleft"></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div id="facebook-login-modal" class="modal fade" role="dialog" style="display: none;">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content facebook-login-prompt">
                        <div class="modal-body text-center">
                            <button class="loginwithfacebook no-margin" ng-click="loginToPost()" data-target="#facebook-login-modal" data-dismiss="modal"><i class="fa fa-facebook-official">&nbsp; </i>Login with facebook</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main style="min-height: 130vh;" class="top-margin">
            <div ng-view></div>
        </main>

        <footer class="text-center">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/explore/">Explore</a></li>
                <li><a href="#/feed/">Tags</a></li>
                <li><a href="#/howTo/">How To</a></li>
                <li><a href="http://www.campture.com/blog/" target="_blank">Blog</a></li>
                <li><a href="#/termsOfUse/">Campture Policies</a></li>
                <li><a href="#/privacyPolicy/">Privacy</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="#/guidelines/">Campture Guidelines</a></li>
            </ul>
            <div class="footer-social-icons">
                <span><a target="_blank" href="https://www.facebook.com/CamptureApp/?fref=ts"><i class="fa fa-facebook-official"></i></a></span>
                <span><a target="_blank" href="https://twitter.com/Campture"><i class="fa fa-twitter"></i></a></span>
                <span><a target="_blank" href=""><i class="fa fa-instagram"></i></a></span>
                <span><a target="_blank" href="https://www.pinterest.com/campture/"><i class="fa fa-pinterest"></i></a></span>
            </div><br>
            <p>Made with <i class="fa fa-heart pulse2" style="color:#F66055; font-size:18px;">&nbsp; </i></p>
            <p style="margin: 0px!important;">Campture 2016 © All Rights Reserved</p>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!--Parse-->
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.min.js"></script><!--http://www.parsecdn.com/js/parse-latest.min.js-->
        <!--Dropzone dependencies-->
        <script src="js/dropzone/dropzone.js"></script>
        <!--Map API Dependencies-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/exif/exif.js"></script>

        <!-- Angular Dependencies -->
        <!-- JS-->
        <script src="js/angular.min.js"></script><!--js/angular.js-->
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="js/angular-animate.js"></script>
        <!--New Dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

        <!--Timeline Dependencies-->
        <!--Map API Dependencies-->
        <script src="js/angular-simple-logger.js"></script>
        <script src="js/angular-google-maps.min.js"></script>
        <script src="js/ngAutocomplete/ngAutocomplete.js"></script>
        <!--Drop zone directive-->
        <script src="js/dropzone/dropzone-directive.js"></script>
        <!--Angular Routing-->
        
        <!--Main-->
        <script src="app.js"></script>
        <!--Services-->
        <script src="app/services/tourService.js"></script>
        <script src="app/services/userService.js"></script>
        <script src="app/services/accountService.js"></script>
        <script src="app/services/tripService.js"></script>
        <script src="app/services/parse-angular/FacebookAngularPatch.js"></script>
        <script src="app/services/parse-angular/ParseServices.js"></script>

        <!--Directives-->
        <script src="app/components/account/profile/profileWrapDirective.js"></script>
        <script src="app/components/commentsDirective/dynamicFbCommentBox.js"></script>
        <script src="app/components/colorbox/modalDialogDirective.js"></script>

        <!--Controller-->
        <script src="app/components/headerCtrl.js"></script>
        <script src="app/components/landing/landingCtrl.js"></script>
        <script src="app/components/tourDetails/tourDetailsCtrl.js"></script>
        <script src="app/components/mainCategories/mainCategoriesCtrl.js"></script>
        <script src="app/components/availableTours/availableToursCtrl.js"></script>
        <script src="app/components/account/accountCtrl.js"></script>
        <script src="app/components/account/timeline/timelineCtrl.js"></script>
        <script src="app/components/account/postTrip/postTripCtrl.js"></script>
        <script src="app/components/account/profile/profileCtrl.js"></script>
        <script src="app/components/account/editTrip/editTripCtrl.js"></script>
        <script src="app/components/feed/filteredFeedCtrl.js"></script>
        <script src="app/components/allProfiles/allProfileCtrl.js"></script>
        <script src="app/components/explore/exploreCtrl.js"></script>
        <!--Main Route-->
        <script src="app.route.js"></script>
        <script src="configMap.js"></script>
        
        <script type="text/javascript">
            $( document ).ready(function() {
            $('#headerId').css("display", "block");
            });
        </script>
    </body>
</html>
