<!DOCTYPE html>

<html lang="en" ng-app="campture">
    <head>
        <!--FONT Dependencies-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400italic" rel="stylesheet" type="text/css">
        <!--Parse Dependencies-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
        
        <!--Fotorama gallery-->
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

        <!--<script type="text/javascript" src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>-->        
        <!--Template Dependencies-->

        <!-- GOOGLE FONTS -->
        <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>-->
        <!-- /GOOGLE FONTS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <!--<link rel="stylesheet" href="css/font-awesome.css">-->
        <!--<link rel="stylesheet" href="css/icomoon.css">-->
        <!--<link rel="stylesheet" href="css/styles.css">-->
        <!--<link rel="stylesheet" href="css/mystyles.css">-->
        <!--<link rel="stylesheet" href="css/dropzone.css">
        <link rel="stylesheet" href="css/new-design/styles.css">-->
        <!--Post Form-->
        <!--<link rel="stylesheet" href="css/timeline/timestyle.css">-->
        <!--<link rel="stylesheet" href="css/timeline/style.css">-->
        <!--<link rel="stylesheet" href="css/icomoon.css">-->
        <!--<link rel="stylesheet" href="css/styles.css">-->
        <!--<link rel="stylesheet" href="css/style2.css">-->
        <link rel="stylesheet" href="css/mystyles.css">
        <link rel="stylesheet" href="css/dropzone.css">
        <link rel="stylesheet" href="css/new-design/timeline-style.css">
        <link rel="stylesheet" href="css/new-design/styles.css">
        <!--Post Form-->
        <!--<link rel="stylesheet" href="css/timeline/timestyle.css">-->
        <!--colorbox-->
        <link rel="stylesheet" type="text/css" href="css/colorbox.css" media="screen" />
        <!--Meta-->
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="Campture, adventure, camping" />
        <meta name="description" content="Campture">
        <meta name="author" content="anuj">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />        
        
        <!--Dropzone dependencies-->
        <script src="js/dropzone/dropzone.js"></script>
        <!--Map API Dependencies-->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script src='js/lodash.js'></script>
        <!-- Angular Dependencies -->
        <!-- JS-->
        <script src="js/angular.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
        <script src="js/angular-animate.js"></script>
        <!--Timeline Dependencies-->
        <!--Map API Dependencies-->
        <script src='js/angular-simple-logger.js'></script>
        <script src='js/angular-google-maps.min.js'></script>
        <script src="js/ngAutocomplete/ngAutocomplete.js"></script>
        <!--Drop zone directive-->
        <script src="js/dropzone/dropzone-directive.js"></script>
        <!--Angular Routing-->
        <base href="/">
        <!--foto Rama-->
        <script src="js/fotorama/fotorama.js"></script>
        <!--Main-->
        <script src="app.js"></script>
        <!--Services-->
        <script  src="app/services/tourService.js"></script>
        <script  src="app/services/userService.js"></script>
        <script  src="app/services/accountService.js"></script>
        <script  src="app/services/tripService.js"></script>
        <script src="app/services/parse-angular/FacebookAngularPatch.js"></script>
        <script src="app/services/parse-angular/ParseServices.js"></script>

        <!--Directives-->
        <script src="app/components/account/profile/profileWrapDirective.js"></script>
        <script src="app/components/commentsDirective/dynamicFbCommentBox.js"></script>
        <script src="app/components/colorbox/modalDialogDirective.js"></script>

        <!--Controller-->
        <script  src="app/components/headerCtrl.js"></script>
        <script  src="app/components/landing/landingCtrl.js"></script>
        <script  src="app/components/tourDetails/tourDetailsCtrl.js"></script>
        <script  src="app/components/mainCategories/mainCategoriesCtrl.js"></script>
        <script  src="app/components/availableTours/availableToursCtrl.js"></script>
        <script  src="app/components/account/accountCtrl.js"></script>
        <script  src="app/components/account/timeline/timelineCtrl.js"></script>
        <script  src="app/components/account/postTrip/postTripCtrl.js"></script>
        <script  src="app/components/account/profile/profileCtrl.js"></script>
        <script  src="app/components/account/editTrip/editTripCtrl.js"></script>
        <script  src="app/components/feed/filteredFeedCtrl.js"></script>
        <script  src="app/components/allProfiles/allProfileCtrl.js"></script>
        <!--Main Route-->
        <script src="app.route.js"></script>
        <script src="configMap.js"></script>
        <title>Campture</title>
    </head>
    <body>
        <div id="fb-root"></div>
        
    <nav ng-controller="HeaderCtrl" class="navbar navbar-default no-margin no-background">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><img src="css/images/logo.png" alt="logo"></a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-fonts">
          <li><a href="#/feed/" class="navbar-fonts navbar-link">EXPLORE</a></li>
          <li><a href="" ng-click="showTags = !showTags;$event.stopPropagation();" class="navbar-fonts">TAGS</a></li>
          <li><a href="http://www.campture.com/blog/" target="_blank" class="navbar-fonts">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <!--<form class="navbar-form navbar-left no-margin" role="search">
    <div id="wrap">
    <form action="" autocomplete="on">
    <input id="search" name="search" type="text" placeholder="What're we looking for ?">
    <input id="search_submit" value="Search" type="submit" style="padding:none!important;">
    </form>
  </div>
  </form>-->
          <li><a ng-if="userObj == undefined" href="" class="loginwithfacebook" ng-click="loginWithFacebook()"><i class="fa fa-facebook">&nbsp; </i>Login with facebook</a></li>
  		  <li><a ng-if="userObj" href="#/account/postTrip/" class="add_trip"><i class="fa fa-plus">Add Trip</i></a></li>	
          <li><a href=""ng-if="userObj" ng-click="logout()" class="power_switch navbar-link" style="color: color: rgb(106, 106, 106)!important;"><i class="fa fa-power-off"></i></a></li>
          <li><a href="" ng-href="#/account/profile/{{userObj.objectId}}" class="paddingnone"><img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle profile_topleft"></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <main class="top-margin">
    <div ng-view></div>
    </main>

        <!--<div class="nav navbar-inverse " style="margin-top: ">
          <div class="container-fluid"><span class="navbar-text">CAMPTURE <em class="fa fa-copyright"></em> 2015</span>
            <div class=" navbar-text"> Discover Locations <em class="fa fa-dot-circle-o"></em>Explore Locations<em class="fa fa-dot-circle-o">Book Trips</em></div>
            <div class="pull-right">
                <a href="https://www.facebook.com/CamptureApp/" class="navbar-text"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/Campture" class="navbar-text"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.google.com/+CamptureApp" class="navbar-text"><i class="fa fa-google-plus-square"></i></a>
                <a href="https://instagram.com/camptureapp/" class="navbar-text"><i class="fa fa-instagram"></i></a>
                <a href="https://www.pinterest.com/campture/" class="navbar-text"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>-->
        <script src="../js/new/imagesloaded.pkgd.min.js"></script>
                <script src="../js/new/masonry.pkgd.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/tweet.js"></script>
    </body>
</html>
