    <!--<div class="jumbotron jumbotron-index">
            <div class="container text-center">
                <h4>Welcome to Campture</h4>
                <p>Showcase and Discover experiences</p>
                <a  ng-href="#/howTo/" class="btn btn-primary btn-lg round"><img src="/img/icons/map.svg" alt=""> Campture Me!</a>
                <!--<a ng-show="userObj == undefined" class="btn btn-primary btn-lg round" data-target="#facebook-login-modal" data-toggle="modal"><img src="/img/icons/map.svg" alt=""> Campture Me!</a>
                <a ng-show="userObj" ng-href="#/account/postTrip" class="btn btn-primary btn-lg round"><img src="/img/icons/map.svg" alt=""> Campture Me!</a>
            </div>
        </div>!-->
        <div id="carousel" class="carousel slide carousel-fade jumbotron-index" data-ride="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item" style="background-image:url(../../../css/images/banner1.jpg); ">
            <div class="carousel-caption">
            <h1>Your Guide to Everything Outdoors</h1>
            
            <h4 class="landing-carousel-text "> Campture is all about exploring the unknown and offbeat experiences.
We are a community of people with amazing stories to tell!</h4>
                <a ng-show="userObj" ng-href="#/account/postTrip/" class="btn btn-default get-started-btn btn-lg  hidden-xs">Get Started</a>
                <a ng-show="userObj == undefined" class="btn btn-default get-started-btn btn-lg  hidden-xs" data-target="#facebook-login-modal" data-toggle="modal">Get Started</a>
            </div>
        </div>
        <div class="item" style="background-image:url(../../../css/images/banner2.jpg); ">
            <div class="carousel-caption">
            <h1>Create Narrative Photologues</h1>
            <h4 class="landing-carousel-text ">Create a new story, quickly add title, photos, experiences on our beautifully designed format.</h4>
                <a ng-show="userObj" ng-href="#/account/postTrip/" class="btn btn-default get-started-btn btn-lg  hidden-xs">Get Started</a>
                <a ng-show="userObj == undefined" class="btn btn-default get-started-btn btn-lg hidden-xs" data-target="#facebook-login-modal" data-toggle="modal">Get Started</a>
            </div>
        </div>
        <div class="item" style="background-image:url(../../../css/images/banner3.jpg);  "> <div class="carousel-caption">
        <h1>Publish &amp; Get Social</h1>
            <h4 class="landing-carousel-text ">Share your stories and enspire fellow travellers or keep all your travel memories in one place.</h4>
                <a ng-show="userObj" ng-href="#/account/postTrip/" class="btn btn-default get-started-btn btn-lg  hidden-xs">Get Started</a>
                <a ng-show="userObj == undefined" class="btn btn-default get-started-btn btn-lg  hidden-xs" data-target="#facebook-login-modal" data-toggle="modal">Get Started</a>
            </div>
        </div>
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <a class="carousel-control right" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>

</div>
<div class="trip-background-wrap">
<div class="text-center container trip-background-wrap intro">
<h2>
Incredible adventures created by people like you.
        </h2>
<h4>Our mission is to discover adventures, whether just down the street or across the globe,<br>by inspiring people to explore and share their experiences.</h4>
<div class="text-center">
<a ng-show="userObj" ng-href="#/account/postTrip/" class="btn btn-default get-started-btn btn-lg  hidden-lg hidden-md hidden-sm">Get Started</a>
                <a ng-show="userObj == undefined" class="btn btn-default get-started-btn btn-lg hidden-lg hidden-md hidden-sm" data-target="#facebook-login-modal" data-toggle="modal">Get Started</a>
 </div>           

    </div>
    </div>
    <div class="trip-background-wrap">
<div class="must-visit" style="background-color:rgb(36, 38, 37)">
        <div class="text-center"><h2>Categories</h2>
        <div class="container" >

            <div id="tagsCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-xs-6" ng-repeat="categoryTag in categoryTagsRow1">
                                <a ng-href="#/feed/{{categoryTag.tag}}" class="thumbnail">
                                    <img ng-src="{{categoryTag.image_url}}" alt="image">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-xs-6" ng-repeat="categoryTag in categoryTagsRow2">
                                <a ng-href="#/feed/{{categoryTag.tag}}" class="thumbnail">
                                    <img ng-src="{{categoryTag.image_url}}" alt="image">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-xs-6" ng-repeat="categoryTag in categoryTagsRow3">
                                <a ng-href="#/feed/{{categoryTag.tag}}" class="thumbnail">
                                    <img ng-src="{{categoryTag.image_url}}" alt="image">
                                </a>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#tagsCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#tagsCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>

    <div class="container text-center featured-photologues">
        <h2>Featured Photologues</h2>
         <div ng-show="!isSiteLoaded" class="site-loader site-loader-center" style="margin-top: 50px;">
            <div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
            </div>
            <p>I travel, therefore I am</p>
        </div>

        <div ng-show="isSiteLoaded" class="row" style="margin-top: 20px">
        
            <div class="col-sm-6 col-md-3" ng-repeat="trip in allTrips | filter:query">
                <div class="thumbnail">
                    <a ng-href="#/account/timeline/{{trip.id}}">
                        <img class="ig-lofi" ng-src="{{trip.cropped_image_url}}" alt="thumbnail1">
                    </a>
                    <div class="caption">
                        <a ng-href="#/account/timeline/{{trip.id}}">
                            <span class="pull-left trip_name title-overflow-hidden">{{trip.title}}</span>
                        </a>
                        <!--<span class="pull-right trip_date">{{trip.visited_places[0].date | date:"dd/MM/yyyy"}}</span>-->
                        <br>
                        <span class="pull-left"><a ng-href="#/account/profile/{{trip.user.id}}"><img ng-src="{{trip.user.facebook_profile.picture.data.url}}" alt="profile_pic" class="avatar img-circle"></a></span>
                        <span class="user_name_thumbnail"><a ng-href="#/account/profile/{{trip.user.id}}">{{trip.username}}</a></span>
                        <!--<span class="pull-right stats_thumbnail">{{trip.total_likes}}</span>-->
                        <span class="pull-right"><em class="fa fa-heart Like_icon_thumbnail"><sup>&nbsp; {{trip.total_likes}}</sup></em></span>

                        <!--<span class="pull-right stats_thumbnail">19</span>-->
                        <!--<span class="pull-right"><em class="fa fa-comments Like_icon_thumbnail"></em></span>-->
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <button type="button" class="btn btn-lg btn-default">Explore More</button>
            </div>
    </div>
    <div class="jumbotron explorer-jumbotron">
    <div class="container">
    <h2>The Campture Explorer Program</h2>
    <p>Explorers inspire us to get outside, they are local experts who share their favourite adventures with the community. Some are professionals, but most are everyday folks: lawyers, doctors, students and parents. They are good people and incredible human beings.</p> 
    <button type="button" class="btn btn-join-now btn-lg">Join Now</button>
    </div>
  </div>
  <div class="asfeatured text-center">
  <h2>As Seen On</h2>
  <div class="angellist"> 
  <a href="https://angel.co/campture"><img src="../../../css/images/AngelList_White_Lockup-62a6d2396ec4758d26016fc9b65d6cb1.png" class="img-responsive"></a>
  <a href="https://letsventure.com/campture"><img src="../../../css/images/Lets venture.png" class="img-responsive"></a> 
  
  <a href="http://www.launchingnext.com/s/campture/15804/"><img src="../../../css/images/Launching Next.png" class="img-responsive"></a>
  <a href="http://betalist.com/startups/campture"><img src="../../../css/images/Beta List.png" class="img-responsive"></a> 
   </div>
</div>
<div class="text-center">
<div class=" text-center instructions">
<h2>Unravel your travel with Campture!</h2>
<img src="../../../css/images/Upload_images.png" >
<i class="fa fa-angle-double-right hidden-xs"></i>
<img src="../../../css/images/Write_caption.png">
<i class="fa fa-angle-double-right hidden-xs"></i>
<img src="../../../css/images/Tag_Locations.png" >
<div class="row text-center">
<a class="btn btn-default get-started-btn btn-lg" data-target="#facebook-login-modal" data-toggle="modal">Get Started</a>
</div>
</div>

</div>
</div>



       

