<div class="explorer-prog-wrap">

    <div class="container">
        <div class="col-md-7">
            <h1>The Campture Explorers Program</h1>
            <p>Do you have what it takes?</p>
        </div>
    </div>
    <div class="explorer-hero">
    </div>
    <div class="row>">
    <div class="container col-md-offset-3 col-md-6">
        <h3>Who are Explorers?</h3>
        <p>Explorers are the elite members of Campture community. Some are professionals, but most are regular folks: engineers, doctors, students, moms, fathers etc. They’re good people and they inspire us to get outside. More often, they’re also incredible photographers and writers, sharing their experiences on Instagram, blogs or helping out in forums.</p>

<p>The Explorer Program is NOT the same as writing for the Campture blog. If you're interested in writing articles (Tips For Your First Solo Backpacking Trip, 5 places to go trekking in April, How To Build stamina for adventure trips etc) You can reach out to us on info@campture.com and we can provide you an author access for your contribution.</p>


    </div>
    <div class="col-md-3">
    </div>
    
</div>

        <a href="mailto:info@campture.com?Subject=Campture%20Explorers%20Program" target="_top"><button type="button" class="text-center btn btn-primary btn-lg">TELL US WHY YOU SHOULD BE AN EXPLORER</button></a>
</div>
 