charset "UTF-8";
/* CSS Document */
html{
	overflow-x:hidden; 
}
body
{
	background-color:#fff;
}
/*SearchbarCSS*/
.timeline-search-box {
  height: 24px;
  width: 24px;
  display: inline-block;
  color:red;
  background:url(../images/magnifying-glass1.png) center right no-repeat !important;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;
  padding-top:55px;
}

.wrap {
 display: inline-block;
 position: relative;
 float: right;
 padding: 0;
 position: relative;
 margin-top:10px;
}

.search-box {
  height: 40px;
  font-size: 16px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

/*input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}


input[type="submit"]:hover {
  opacity: 0.8;
}*/
/**/
.headertwo .row #shareanewexperience {
	font-size: 16px;
	font-family: "Lato";
	color: rgb(229, 80, 59);
	font-style: italic;
	text-decoration: underline;  
 }
.verticalLine {
    border-left: thick solid #ff0000;
}
.no-background{
	background-color:#FFFFFF !important;
}
.no-margin {
	margin:0px !important;
}

.jumbotron {
    position: relative;
    background: #000 url() center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
	
}
.navbar-fonts{
	font-color: rgb(17, 23, 28) !important;
	font-family: Lato, sans-serif;
	font-size: 16px;
	margin-top:3px !important;
}
<<<<<<< HEAD

.navbar-fonts:hover{
	border-top:solid 2px #f56c36;
	top:50%;
	margin-top:1px !important;
}
=======
>>>>>>> origin/revert-2-Styling-changes
.my_feed {
          font-size: 16px;
          font-family: "Lato";
          color: rgb(226, 50, 22)!important;
          text-transform: uppercase;
          line-height: 2.375;
          position: absolute;
          top: 5px;
          z-index: 113;
        }
.jumbotron-index
{
	background-image:url(../images/landing-background.png);
	color:#CECECE;
	height:500px;
	margin-bottom:0px!important;
	padding-top:100px!important;
}
.jumbotron-landingpage
{
	background-image:url(../Images/Hero%20image.png);
	color:#CECECE;
	height:500px;
	margin-bottom:0px!important;
	padding-top:0px!important;
}

	
	
	
.round {
  border-radius: 24px!important;
  background-color:rgb(209, 75, 47)!important;
  border:none!important;
  margin-top:5px;
  margin-bottom:5px!important;
}




.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none!important;
}

.btn-primary {
    background-color: rgb(241, 94, 60)!important;
    color: rgb(255, 255, 255);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #A31D1F!important;
}
.btn-primary:active, .btn-primary.active {
    background: rgb(241, 94, 60)!important;
    box-shadow: none!important;
}
.jumbotron h3 {
	color:#FFE7E8;
    font-family: "Vollkorn Italic";
	font-size:38px;
	font-style:italic;
    
}
.jumbotron p
{
	color:#FFFFFF;
}
.trip_date{
	float:right;
}
.avatar{
	height:28px;
	width:28px;
}
.trip_name{
font-size: 14px;
font-family: "Lato";
color: rgb(74, 76, 78);
text-transform: uppercase;
}
.trip_date{
font-size: 14px;
font-family: "Lato";
color: rgb(74, 76, 78);
}
.user_name_thumbnail{
font-size: 16px;
font-family: "Lato";
color: rgb(109, 112, 119);
line-height: 2;
margin-left:4px;
}
.stats_thumbnail {
font-size: 14px;
font-family: "Lato";
color: rgb(109, 112, 119);
line-height: 2.3;
}
.Like_icon_thumbnail {
padding-top:8px;
padding-right:4px;
padding-left:4px;
font-size: 11px;
color: rgb(109, 112, 119);
}
.Explore {
font-size: 30px!important;
font-family: "ABeeZee";
color: rgb(95, 96, 98);
margin-top:5px!important;
margin-left:10px!important;
}
#sidebar-wrapper{
	z-index:1;
	position:fixed;
	height:100%;
    width:250px;
	border-right: 2px thin #4F4C4C;
}
	.jumbotron-locationpage
{
	background-image:url(../Images/san%20fran.jpg);
	color:#CECECE;
	height:500px;
	margin-bottom:0px!important;
	}
.breadcrumb-locationpage > li + li:before {
    color: #ccc;
    content: "> "!important;
    padding: 0 5px;
	background:none;
}
.thumbnail{
	position:relative!important;
}
.thumbnailcontent-landingpage{
	font-size:28px;
	font-family:"lato";
	background: none;
    opacity: 1;
	text-align:center;
	top:-200px;
	color:rgb(255, 255, 255);
}
.carousel-inner img{
	width:100%;
}
.timeline-sidebar-wrap{
	background-color:white;
	}
.timeline-thumbnail-wrap{
background-color:rgb(56, 61, 64)!important;
padding-bottom:20px!important;
margin:0px!important;
border:0px!important;
border-radius:0px!important;
}
.timeline-thumbnail-wrap p{
font-size: 16px;
font-family: "Lato";
color: rgb(247, 247, 247);
background-color:44, 48, 49!important;
}
/*Timeline CSS*/

@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}
.content .portfolio-item.group.first .trip-intro {
	width: 30%;
	float: left;
	padding: 20px 20px 20px 40px;
	color: #5e5e5e;
}
.profilepage-wrap .header {
	background-image: url(../Images/vector%20img.png);
	padding-top: 100px;
	height: 230px;
	}
.profilepage-wrap .header.no-margin p {
	font-size: 50px;
	font-family: lato 100;
	color: white;
	font-weight: 100;
	position: absolute;
}
.profilepage-wrap .header.no-margin .headertwo {
	border-style: solid;

  border-width: 1px;

  border-color: rgb(192, 192, 192);

  background-color: rgb(255, 255, 255); 
 position: absolute;
  top: 243px;
  width: 100%;
  height: 54px;
}
.profilepage-wrap .header.no-margin .profilepic.img-rounded {
	position: relative;
	left: 90px;
	z-index: 31;
	width: 200px;
	border: 5px solid;
	border-color: #FFFFFF;
	border-radius: 50%;
	top: -70px;
}
.header.no-margin .headertwo .row {
	font-size: 20px;
	margin-top: 12px;
}
	

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}
.navbar-two{
	padding-top:66px;
}
.img_holder {
border-radius: 50%;
background-color: rgb(0, 0, 0);
position: absolute;
width: 38px;
height: 38px;
z-index: 110;
}
.timeline-thirdheader{
	background-color: rgb(255, 255, 255);
	margin-bottom: 20px;
}
.timeline-thirdheader btn{
font-size: 18px;
font-family: "Lato";
color: rgb(228, 76, 60);
padding:10px;
}
.Itinerary{
	font-size: 18px;
	font-family: "Lato";
	color: #000000;
	text-transform: uppercase;
}

.Itinerary a {
color:#000000;
}
.Itinerary a:active {
color:rgb(209, 75, 47)!important;
}
/*grid animation*/
.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
/**/

/*Map*/
.angular-google-map-container{height: 40em}

.select-pointer{
    cursor: pointer;
}

/*Image Gallery*/
.thumb {
    margin-bottom: 30px;
}
.thumbnail {
    display: block;
    /* padding: 4px; */
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/*CSS for the upload form*/
/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}

/* layout.css Style */
.upload-drop-zone {
  height: 120px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**/



.input-alter{
    position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 500px;
	width: 100%;
	vertical-align: top;
}

.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 2px transparent;
	color: #eca29b;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.input__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;
  	height: 4em;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 2px #eca29b;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 0.75em 0.15em;
}

/**/
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 100%;
	border-bottom: solid 2px rgba(166, 166, 166, 0.1);
	border-radius: 0;
	color: #aaa;
	font-style: italic;
	font-family: "lato", Helvetica, Arial, sans-serif;
	/*box-shadow: inset 1.879px -0.684px 5px 0px rgba(198, 198, 198, 0.1);*/
	-webkit-appearance: none; /* for box shadows to show on iOS */
	border-top:none;
	border-left:none;
	border-right:none;
}
/*tags*/
.tagsinput {
    color: black;
  background: white;
  border: 2px solid #ebedef;
  border-radius: 6px;
  height: 100px;
  margin-bottom: 18px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left;
  width:90%;
  margin:auto;
}
.tagsinput .tag {
  border-radius: 4px;
  background-color: #ebedef;
  color: #7b8996;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 13px 8px 19px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.14s linear;
  -moz-transition: 0.14s linear;
  -o-transition: 0.14s linear;
  transition: 0.14s linear;
  -webkit-backface-visibility: hidden;
}
.tagsinput .tag:hover {
  background-color: #16a085;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 20px;
}
.tagsinput .tag:hover .tagsinput-remove-link {
  color: #ffffff;
  opacity: 1;
  display: block\9;
}
.tagsinput input {
  background: transparent;
  border: none;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0 0 0 5px;
  outline: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 200px;
}
.tagsinput-remove-link {
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  padding: 7px 7px 5px 0;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none\9;
}
.tagsinput-remove-link:before {
  color: #ffffff;
  content: "\e00b";
  font-family: "Flat-UI-Icons";
}
.tagsinput-add-container {
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.tagsinput-add {
  background-color: #d6dbdf;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 6px 9px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.tagsinput-add:hover {
  background-color: #1abc9c;
}
.tagsinput-add:before {
  content: "<i class="glyphicon glyphicon-plus"></i>";
  font-family:glyphicons;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #fbd8db !important;
  color: #90111a !important;
}
.tagsinput-primary {
  border-color: #e6e6e6;
}
.tagsinput-primary .tag {
  background-color: #e25833;
  color: #ffffff;
}
.tagsinput-primary .tag:hover {
  background-color: #ff7b58;
  color: #ffffff;
  
}

/**/
.element {
    width: 582px;
    height: 124px;
}
textarea[class*="span"] {
    width: 100% !important;
    box-sizing: border-box;
}
textarea {
    height: auto;
    font-size: 14.994px;
    line-height: 24px;
    padding: 5px 11px;
    text-indent: 0px;
    color: #aaa;
    font-style: italic;
    font-family: "lato", Helvetica, Arial, sans-serif;
}
.bottommargin{
	margin-bottom:40px!important;
}

.editor-cover-image {
    /*display: table-cell;*/
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    padding: .4em 9px;
    outline: 0;
    color: #444;
    min-height: 8.5em;
    margin-bottom: 1em;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
}
.editor-cover-image .dz-details,.editor-cover-image .dz-success-mark,.editor-cover-image .dz-error-mark,.editor-cover-image .dz-error-message,.editor-cover-image .dz-progress {
    display: none;
}

.editor-cover-image .dz-preview {
    display: none;
    max-height: 100%;
    overflow: hidden;
}

.no-input-outline {
    outline: none;
}

.form-top-margin{
    margin-top: 40px;
}
.bordernone{
    border: none;
}

.frame-padding-bottom{
    padding-bottom: 50px;
}

.image-upload-loader{
    background-image:url(../images/ring-alt.gif); 
}

.add_trip{
	border-style: solid;
	border-width: 1px;
	background-color: rgb(219, 97, 48);
	border-radius: 2px;
	font-size:15px;
	color:#ffffff!important;
	font-family:lato;
	font-weight:800;
	letter-spacing: .06em;
	margin-top:10px;
    padding:7px!important;
	max-width:100px;
	margin-left:12px;
}
.add_trip:hover{
	box-shadow: 0px 0px 8px 2px rgba(196,78, 31, 0.5);
	background-color: rgb(219, 97, 48)!important;
	border-color:rgb(219, 97, 48)
}

.power_switch{
	font-size:18px;
	margin-top:5px;
	margin-left:10px;
}
.profile_topleft {
    width: 42px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-top: 5px;
    margin-left: 10px;
}
.paddingnone{
	padding:0px!important;
}
.loginwithfacebook{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(173, 173, 173);
    border-radius: 4px;
    background-color: rgb(59, 89, 152)!important;
  	box-shadow: 1.045px 9.945px 24px 6px rgba(26, 66, 149, 0.2);
  	top: 15px;
    margin-left:30px;
    padding:7px!important;
    color: rgb(255, 255, 255)!important;
    font-family:lato;
    letter-spacing:0.04em;
    font-size:16px;
}
.likecommentshare {
	margin-top:15px;
}
.stay-connected{
font-size: 22px;
font-family: "Lato";
font-weight:300;
margin:10px;   
color: rgb(17, 23, 28);
}
.stay-connected span{
	border-bottom: solid 2px;
border-bottom-color:rgb(234, 137, 113);
}

.credits p{
	font-size:18px;
}
.credits{
	margin-top:50px;
}
.liked{
    color: #e25833;
}
.likeDisabled{
    cursor: not-allowed;
     pointer-events: none;
}
.placeholder-color::-webkit-input-placeholder {
color: #e6e6e6 !important;
}

.text-area-border-color{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(166, 166, 166, .1);
    background-color: rgb(255, 255, 255);
	border-left:none;
	border-top:none;
	border-right:none;
}

.text-area-border-color:focus{
	border-left:none;
	border-top:none;
	border-right:none;
    border-bottom:1px solid rgb(226, 88, 51)!important;
    outline: none !important;
}

/**/
/*profilepage*/
.profile_page_header{
	background-image:url(../images/Cover-image.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:204px;
}
.profilepicture{
    padding-top:31px;
	}
.profilepicture img{
	width:76px!important;
	margin:auto;
	margin-bottom:17px;
	box-shadow: 0px 0px 22.5px 2.5px rgba(57, 55, 55, 0.3);
}
.user_name{
	padding-top:17px;
	margin:auto!important;
	font-size: 28px;
    font-family: "Lato";
	font-weight: 600;
	letter-spacing: 0.06em;
	color: rgb(251, 251, 251);
	text-shadow: 0.5px 0.866px 6px rgba(0, 0, 0, 0.2);
}
.tpp{
	border-color: rgb(222, 222, 222);
	background-color: rgb(252, 252, 252);
	border-style: solid;
	border-size:1px;
	font-size:18px;
	font-family:lato;
	margin-left:8%;
	color: rgb(117, 117, 117);
	width:150px;
	margin-top:10px;
	
}
.tpp p{
	margin-bottom:0px;
}
.tpp i{
	font-size:18px;
}
.profilecontent{
	margin-top:50px;
}
@media (max-width: 548px){
	.tpp{
		width:100px;
		margin-left:0px;
	}
}
/**/
/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-spin:before {
  content: "\f021";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*newtimelineCSS*/
.likecommentshare {
	margin-top:15px;
}

.stay-connected{
font-size: 22px;
font-family: "Lato";
font-weight:300;
margin:10px;   
color: rgb(17, 23, 28);
}
.stay-connected span{
border-bottom: solid 2px;
border-bottom-color:rgb(234, 137, 113);

}
.timelineend{
	background-color:#fff;
	color:black;
}
.timelineend img{
	width:90px;
}
.credits p{
	font-size:18px;
}
.credits{
	margin-top:50px;
}
/*Dot and Line*/
.content .portfolio-item .portfolio-info .date:before {
          content: "";
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #f7f7f7;
          background: #d35136;
          left: 9px;
          z-index: 1;
          
}
		  


/**/
.editTripButton{
	border-style:solid;
	border-size:1px;
	border-color:#000000;
	color:#000000;
	padding:5px;
	float:left!important;

}
/*fixing stay connected*/
#search{
	background-image:url(../Images/magnifying-glass1.png);
	background-position:center right;
	background-repeat:no-repeat;
}
.tag-window-width{
    width: 300px;
}

/*Photo Slider*/
.image-gallery-arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.image-gallery-arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.image-gallery-arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.image-gallery-arrow.prev:hover{
    opacity:1;
}
.image-gallery-arrow.next:hover{
    opacity:1;
}

.image-gallery-nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.image-gallery-nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.image-gallery-nav li.active {
    border: 5px solid #FFFFFF;
}
.image-gallery-nav li img {
    width: 100%;
}

.image-gallery-slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.image-gallery-slide {
    position: absolute;
    top: 0;
    left: 0;
}
.image-gallery-slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.image-gallery-slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.image-gallery-slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.image-gallery-slide, .image-gallery-slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 767px){
    .mobile-no-display{
        display:none;
    }
    .wrap {
   display: inline-block;
   float: right;
   padding: 0px;
   position: relative;
   margin-top: 6px;
   margin-right: 8px;
}
}

@media (min-width: 767px){
    .pc-no-display{
        display:none;
    }
    
}
.campture-search{
    background-image:url(../images/magnifying-glass1.png)!important;
    background-position:center right!important;
    background-repeat:no-repeat!important;
}

.searchbar-input input[type="text"]{
   height: 40px;
   font-size: 16px;
   display: inline-block;
   font-family: "Lato";
   font-weight: 100;
   border: none;
   outline: none;
   color: #555;
   padding: 3px;
   padding-right: 30px;
   width: 0px;
   top: 0;
   right: 0;
   background: none;
   z-index: 3;
   transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
   cursor: pointer;
}
.searchbar-input  input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
.trip-background-wrap{
    background-image:url(../images/trip-background.jpg);
}

.on-top{
z-index:1!important;
}

.portfolio-info .description{
    text-align: justify;
}
.tags .thumbnail:hover{
background-color:#f56c36!important;
}

.timeline-tags{
height:auto;
background-color:f7f7f7;
margin-top:20px;
}
.timeline-tags #tags{
font:lato;
color: rgb(255, 255, 255);
font-size:14px;
background-color:black;
border-color: rgb(178, 178, 179);
letter-spacing:.08em;
border-radius:2px;
margin-right:5px;
margin-left:5px;
padding-left:10px;
padding-right:10px;

}
.timeline-tags span{
font:lato;
font-size:14px;
color: rgb(17, 23, 28);
background-color:rgb(255, 255, 255);
border-color: rgb(178, 178, 179);
padding-left:10px;
padding-right:10px;
letter-spacing:.08em;
border-radius:2px;
margin-right:5px;
margin-left:5px;
margin-top:5px;
margin-bottom: 15px;
border-color: rgb(178, 178, 179);
display:inline-block;
} 
/*trip title-bar*/
.trip-titlebar{
   background-position:center center;
background-repeat:no-repeat;
background-size:cover;
min-height: 85vh;
max-width:100%;
   height: auto;
-webkit-filter: brightness(.5);
   filter: brightness(.5);
}
.timeline-tripname{
font-size: 40px;
font-family: "Lato";
font-weight: bold;
letter-spacing: 0.04em;
color: white;
text-transform: uppercase;
position:absolute;
top:11%;
width:100%;
}
.trip-intro {
	position: absolute;
    width: 100%;
    top: 18%;
	font-size: 18px;
	font-family: "Lato";
	letter-spacing:0.04em;
}
.trip-intro p{
	max-width: 500px;
    margin: auto;
}
.by-user{
	  padding-top:30px;
	 font-size: 16px;
	 font-family:lato;
	 font-weight:400;
	 font-style:italic;
	 color:#f56c36;
	   }
.by-user img{
	height:41px;
	width: 41px;
}
.by-user p{
  letter-spacing:0.02em;
  color: rgb(255, 255, 255);
  font-style: italic;
}



@media (min-width: 768px) and (max-width: 940px){
.timeline-tripname {
font-size: 40px;
font-family: "Lato";
color: #FFF;
text-transform: uppercase;
position: absolute;
top: 225px;
width: 100%;
}
.trip-intro {
position: absolute;
width: 100%;
top: 340px;
font-size: 18px;
}
}
@media (min-width: 515px) and (max-width: 768px){
.timeline-tripname {
   font-size: 45px;
   font-family: "Lato";
   color: #FFF;
   text-transform: uppercase;
   position: absolute;
   top: 7%;
   width: 100%;
}
.trip-intro {
   position: absolute;
   width: 100%;
   top: 14%;
   font-size: 15px;
}
}
@media (min-width: 0px) and (max-width: 515px){
.timeline-tripname {
font-size: 26px;
font-family: "Lato";
color: #FFF;
text-transform: uppercase;
position: absolute;
top: 166px;
width: 100%;
}

.trip-intro {
   position: absolute;
   width: 100%;
   top:245px;
   font-size: 12px;
}
.by-user {
   padding-top: 15%;
   font-size: 16px;
   font-family: lato;
   font-weight: 400;
   font-style: italic;
   color: #F56C36;
}
}
/*share button css*/

/*X-Pro II*/
.xpro2:before, .xpro2:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }
.xpro2 {
  position: relative; }
  .xpro2 img {
    width: 100%;
    z-index: 1; }
  .xpro2:before {
    z-index: 2; }
  .xpro2:after {
    z-index: 3; }
.xpro2 {
  -webkit-filter: sepia(.3);
          filter: sepia(.3); }
  .xpro2::after {
    background: -webkit-radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    background: radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    mix-blend-mode: color-burn; }

    /*timeline buttons css active*/
 .Itinerary-places-photos-button-active{
	background-color: rgb(245, 108, 54);
	height: 70px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	padding:25px;
	text-transform:uppercase;
}
.Itinerary-places-photos-button-active a{
	color: rgb(255, 255, 255);
}

/*timeline buttons css inactive*/
.Itinerary-places-photos-button{
	background-color: rgb(255, 255, 255);
	height: 70px;
	font-size: 16px;
	color: rgb(255, 255, 255);
	padding:25px;
	text-transform:uppercase;
}
.Itinerary-places-photos-button a{
	color: #6a6a6a;
}
/*timeline like button*/
.timeline-like-button{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(254, 124, 124);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius:50px;
  color: rgb(255, 90, 90);
  width: 140px;
  font-weight:400;
  font-size: 18px;
  height:36px;
  margin-top:17px;
 
  }
  .likes-quantity{
	  border-left:2px solid;
	  display:inline-block;
	  height:34px;
	  padding-left:14px;
	  line-height: 34px;
 }

/*share button timeline*/
.share-button-timeline{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(126, 179, 239);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius:50px;
  color: rgb(126, 179, 239);
  width: 100px;
  font-weight:400;
  height:34px;
  margin-top:20px;

}
.share-button-timeline span{
	line-height: 29px;
	font-size: 18px;
}
.full-height{
	height: 100vh;
}
.dropzone-internal-border{
	margin:0px!important;
	border:dashed;
	border-width:2px;
	border-color:rgba(0, 0, 0, 0.3);
	padding-top: 70px;
    padding-bottom: 70px;
}
.dropzone-external-border{
	padding:4px!important;
}