
/* CSS Document */
html{
	overflow-x:hidden; 
}
body
{
	padding-top:55px;
	background-color:#fff;
}
body a{
	color:none;
}
/*SearchbarCSS*/
.timeline-search-box {
  height: 24px;
  width: 24px;
  display: inline-block;
  color:red;
  background:url(../images/magnifying-glass1.png) center right no-repeat !important;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;
  padding-top:55px;
}

.wrap {
 display: inline-block;
 position: relative;
 float: right;
 padding: 0;
 margin-top:10px;
}

.search-box {
width: 300px;
float: left;
margin-top: 10px;
}

/*input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}


input[type="submit"]:hover {
  opacity: 0.8;
}*/
/**/
.headertwo .row #shareanewexperience {
	font-size: 16px;
	font-family: "Lato";
	color: rgb(229, 80, 59);
	font-style: italic;
	text-decoration: underline;  
 }
.verticalLine {
    border-left: thick solid #ff0000;
}
.no-background{
	background-color:#FFFFFF !important;
}
.no-margin {
	margin:0px !important;
}

.jumbotron {
    position: relative;
    background: #000 url() center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
	
}
.navbar-fonts{
	font-color: rgb(17, 23, 28) !important;
	font-family: Lato, sans-serif;
	font-size: 16px;
	margin-top:3px !important;
}

.navbar-fonts:hover{
	border-top:solid 2px #f56c36;
	top:50%;
	margin-top:-1px !important;
}
.navbar-fonts:active{
	border-top:solid 2px #f56c36;
	top:50%;
	margin-top:-1px !important;
}

.my_feed {
          font-size: 16px;
          font-family: "Lato";
          color: rgb(226, 50, 22)!important;
          text-transform: uppercase;
          line-height: 2.375;
          position: absolute;
          top: 5px;
          z-index: 113;
        }
.jumbotron-index
{
	color:#CECECE;
	margin-bottom:0px!important;
	/*background-image:url(../images/landing-page-hero.jpg);*/
	background-color:#000000;
}
.jumbotron-landingpage
{
	background-image:url(../Images/Hero%20image.png);
	color:#CECECE;
	height:500px;
	margin-bottom:0px!important;
	padding-top:0px!important;
}

	
	
	
.round {
  border-radius: 24px!important;
  background-color:rgb(209, 75, 47)!important;
  border:none!important;
  margin-top:5px;
  margin-bottom:5px!important;
}




.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none!important;
}

.btn-primary {
    background-color: rgb(241, 94, 60)!important;
    color: rgb(255, 255, 255);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #A31D1F!important;
}
.btn-primary:active, .btn-primary.active {
    background: rgb(241, 94, 60)!important;
    box-shadow: none!important;
}
.jumbotron h3 {
	color:#FFE7E8;
    font-size:56px;
	font-weight:400;
}
.jumbotron p
{
	color:#FFFFFF;
	margin-bottom: 15px;
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 1px;
}
.trip_date{
	float:right;
}
.avatar{
	height:28px;
	width:28px;
}
.trip_name{
font-size: 14px;
font-family: "Lato";
color: rgb(74, 76, 78);
text-transform: uppercase;
font-weight:700;
}
.trip_date{
font-size: 14px;
font-family: "Lato";
color: rgb(74, 76, 78);
}
.user_name_thumbnail{
font-size: 12px;
font-family: "Lato";
color: rgb(109, 112, 119);
line-height: 2;
margin-left:4px;
}
.stats_thumbnail {
font-size: 14px;
font-family: "Lato";
color: rgb(109, 112, 119);
line-height: 2.3;
}
.Like_icon_thumbnail {
padding-top:8px;
padding-right:4px;
padding-left:4px;
font-size: 14px;
color: rgb(109, 112, 119);
}
.Like_icon_thumbnail sup{
	font-size:12px;
}
.Explore {
font-size: 30px!important;
font-family: "ABeeZee";
color: rgb(95, 96, 98);
margin-top:5px!important;
margin-left:10px!important;
}
#sidebar-wrapper{
	z-index:1;
	position:fixed;
	height:100%;
    width:250px;
	border-right: 2px thin #4F4C4C;
}
	.jumbotron-locationpage
{
	background-image:url(../Images/san%20fran.jpg);
	color:#CECECE;
	height:500px;
	margin-bottom:0px!important;
	}
.breadcrumb-locationpage > li + li:before {
    color: #ccc;
    content: "> "!important;
    padding: 0 5px;
	background:none;
}
.thumbnail{
	position:relative!important;
	}
.thumbnailcontent-landingpage{
	font-size:28px;
	font-family:"lato";
	background: none;
    opacity: 1;
	text-align:center;
	top:-200px;
	color:rgb(255, 255, 255);
}
.carousel-inner img{
	width:100%;
}
.timeline-sidebar-wrap{
	background-color:white;
	}
.timeline-thumbnail-wrap{
background-color:rgb(56, 61, 64)!important;
padding-bottom:20px!important;
margin:0px!important;
border:0px!important;
border-radius:0px!important;
}
.timeline-thumbnail-wrap p{
font-size: 16px;
font-family: "Lato";
color: rgb(247, 247, 247);
background-color:44, 48, 49!important;
}
/*Timeline CSS*/

@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}
.content .portfolio-item.group.first .trip-intro {
	width: 30%;
	float: left;
	padding: 20px 20px 20px 40px;
	color: #5e5e5e;
}
.profilepage-wrap .header {
	background-image: url(../Images/vector%20img.png);
	padding-top: 100px;
	height: 230px;
	}
.profilepage-wrap .header.no-margin p {
	font-size: 50px;
	font-family: lato 100;
	color: white;
	font-weight: 100;
	position: absolute;
}
.profilepage-wrap .header.no-margin .headertwo {
	border-style: solid;

  border-width: 1px;

  border-color: rgb(192, 192, 192);

  background-color: rgb(255, 255, 255); 
 position: absolute;
  top: 243px;
  width: 100%;
  height: 54px;
}
.profilepage-wrap .header.no-margin .profilepic.img-rounded {
	position: relative;
	left: 90px;
	z-index: 31;
	width: 200px;
	border: 5px solid;
	border-color: #FFFFFF;
	border-radius: 50%;
	top: -70px;
}
.header.no-margin .headertwo .row {
	font-size: 20px;
	margin-top: 12px;
}
	

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}
.navbar-two{
	padding-top:66px;
}
.img_holder {
border-radius: 50%;
background-color: rgb(0, 0, 0);
position: absolute;
width: 38px;
height: 38px;
z-index: 110;
}
.timeline-thirdheader{
	background-color: rgb(255, 255, 255);
	margin-bottom: 20px;
}
.timeline-thirdheader btn{
font-size: 18px;
font-family: "Lato";
color: rgb(228, 76, 60);
padding:10px;
}
.Itinerary{
	font-size: 18px;
	font-family: "Lato";
	color: #000000;
	text-transform: uppercase;
}

.Itinerary a {
color:#000000;
}
.Itinerary a:active {
color:rgb(209, 75, 47)!important;
}
/*grid animation*/
.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
/**/

/*Map*/
.angular-google-map-container{height: 40em}

.select-pointer{
    cursor: pointer;
}

/*Image Gallery*/
.thumb {
    margin-bottom: 30px;
}
.thumbnail {
	padding:0px;
    display: block;
    /* padding: 4px; */
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*CSS for the upload form*/
/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}

/* layout.css Style */
.upload-drop-zone {
  height: 120px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/**/



.input-alter{
    position: relative;
	display: inline-block;
	margin: 0px;
	width: 100%;
	vertical-align: top;
	max-width:500px;
}


.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 2px transparent;
	color: #eca29b;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.input__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;
  	height: 4em;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 2px #eca29b;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 0.75em 0.15em;
}

/**/
/*.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 2px;
	width: 100%;
	border-bottom: solid 6px rgba(166, 166, 166, 0.1);
	border-radius: 0;
	color: black;
	font-family: "lato", Helvetica, Arial, sans-serif;
	/*box-shadow: inset 1.879px -0.684px 5px 0px rgba(198, 198, 198, 0.1);*/
	/*-webkit-appearance: none; /* for box shadows to show on iOS */
	/*border-top:none;
	border-left:none;
	border-right:none;
	margin-bottom:15px;
	margin-top:15px;
	padding-left: 25px;
	padding-right: 25px;
}
/*tags*/
.tagsinput {
    color: black;
  background: white;
  border: 2px solid #ebedef;
  border-radius: 6px;
  height: 100px;
  margin-bottom: 18px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left;
  width:90%;
  margin:auto;
}
.tagsinput .tag {
  border-radius: 4px;
  background-color: #ebedef;
  color: #7b8996;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 13px 8px 19px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  display: inline;
  -webkit-transition: 0.14s linear;
  -moz-transition: 0.14s linear;
  -o-transition: 0.14s linear;
  transition: 0.14s linear;
  -webkit-backface-visibility: hidden;
}
.tagsinput .tag:hover {
  background-color: #16a085;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 20px;
}
.tagsinput .tag:hover .tagsinput-remove-link {
  color: #ffffff;
  opacity: 1;
  display: block\9;
}
.tagsinput input {
  background: transparent;
  border: none;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0 0 0 5px;
  outline: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 200px;
}
.tagsinput-remove-link {
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  padding: 7px 7px 5px 0;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none\9;
}
.tagsinput-remove-link:before {
  color: #ffffff;
  content: "\e00b";
  font-family: "Flat-UI-Icons";
}
.tagsinput-add-container {
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  display: inline;
}
.tagsinput-add {
  background-color: #d6dbdf;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 6px 9px;
  display: inline-block;
  zoom: 1;
  display: inline;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.tagsinput-add:hover {
  background-color: #1abc9c;
}
.tagsinput-add:before {
  content: "<i class="glyphicon glyphicon-plus"></i>";
  font-family:glyphicons;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #fbd8db !important;
  color: #90111a !important;
}
.tagsinput-primary {
  border-color: #e6e6e6;
}
.tagsinput-primary .tag {
  background-color: #e25833;
  color: #ffffff;
}
.tagsinput-primary .tag:hover {
  background-color: #ff7b58;
  color: #ffffff;
  
}

/**/
.element {
    width: 582px;
    height: 124px;
}
textarea[class*="span"] {
    width: 100%;
    box-sizing: border-box;
}
textarea {
    height: auto;
    font-size: 14.994px;
    line-height: 24px;
    text-indent: 0px;
    color: black;
    font-family: "lato", Helvetica, Arial, sans-serif;
}
.bottommargin{
	margin-bottom:40px!important;
}

.editor-cover-image {
    /*display: table-cell;*/
    width: 100%;
    background: #ffffff;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: none;
	border-left: 1px solid #dfdfdf;
    padding: 4px;
    outline: 0;
    color: #444;
    min-height: 8.5em;
    text-align: center;
    cursor: pointer;
	margin-top:20px;
}
.editor-cover-image .dz-details,.editor-cover-image .dz-success-mark,.editor-cover-image .dz-error-mark,.editor-cover-image .dz-error-message,.editor-cover-image .dz-progress {
    display: none;
}

.editor-cover-image .dz-preview {
    display: none;
    max-height: 100%;
    overflow: hidden;
}

.no-input-outline {
    outline: none;
}

.form-top-margin{
    margin-top: 40px;
}
.bordernone{
    border: none;
}

.frame-padding-bottom{
    padding-bottom: 50px;
}

.image-upload-loader{
    background-image:url(../images/ring-alt.gif); 
}

.add_trip{
	background-color: rgb(219, 97, 48);
	font-size:15px;
	color:#ffffff!important;
	font-family:lato;
	font-weight:800;
	letter-spacing: .06em;
	margin-top:10px;
    padding:7px!important;
	max-width:130px;
	margin-left:12px;
	transition: .4s ease-out;
	border-radius:4px;
}
.add_trip span{
	color:white;
	font-weight:400;
	}
.add_trip:hover{
	box-shadow: 0px 0px 8px 2px rgba(196,78, 31, 0.5);
	background-color: rgb(219, 97, 48)!important;
	}

.power_switch{
	font-size:18px;
	margin-top:5px;
	margin-left:10px;
}
.profile_topleft {
    width: 42px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-top: 5px;
    margin-left: 10px;
}
.paddingnone{
	padding:0px!important;
}
.loginwithfacebook{
    border-radius: 4px;
    background-color: rgb(59, 89, 152)!important;
	margin-top:10px;
    margin-left:30px;
    color: rgb(255, 255, 255)!important;
    font-family:lato;
    letter-spacing:0.04em;
    font-size:16px;
	padding:0!important;
}

.loginwithfacebook i{
	color:white!important;
	padding-top:7px!important;
	padding-bottom:7px!important;
	padding-left:7px!important;
	padding-right:7px!important;
	background-color: rgb(45, 72, 128);
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
}
.loginwithfacebook span{
	color:white;
	padding-top:7px!important;
	padding-bottom:7px!important;
	padding-right:7px!important;
    
	}
.likecommentshare {
	margin-top:15px;
}
.stay-connected{
font-size: 22px;
font-family: "Lato";
font-weight:300;
margin:10px;   
color: rgb(17, 23, 28);
}
.stay-connected span{
	border-bottom: solid 2px;
border-bottom-color:rgb(234, 137, 113);
}

.credits p{
	font-size: 24px;
    padding-top: 10px;
    color: #252525;
    letter-spacing: 1px;
}
.credits a:hover{
	text-decoration:none;
}
.credits{
	margin-top:50px;
}
.liked{
    color: #e25833;
}
.likeDisabled{
    cursor: not-allowed;
     pointer-events: none;
}

.text-area-border-color{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(177, 175, 175);
    background-color: rgb(255, 255, 255);
	border-left:none;
	border-top:none;
	border-right:none;
	margin-top:15px;
	margin-left: 25px;
	padding-right:25px;
	width:90%!important;
	font-weight:200;
}

.text-area-border-color:focus{
	border-left:none;
	border-top:none;
	border-right:none;
    border-bottom:2px solid #ffa18d!important;
    outline: none !important;
}

/**/
/*profilepage*/
.profile_page_header{
	background-color: rgb(247, 247, 247);
  	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	/*height:410px;*/
    height: 165px;
}
.profilepicture{
    padding-top:15px;
	}
.profilepicture img{
	width:76px!important;
	margin:auto;
	margin-bottom:10px;
}
.user_name{
	padding-top:25px;
	margin:auto!important;
	font-size: 20px;
    font-family: "Lato";
	font-weight: 500;
	color: rgb(48, 49, 51);
}
.tpp{
	border-color: rgb(222, 222, 222);
	background-color: rgb(252, 252, 252);
	border-style: solid;
	border-size:1px;
	font-size:18px;
	font-family:lato;
	margin-left:8%;
	color: rgb(117, 117, 117);
	width:150px;
	margin-top:10px;
	
}
.tpp p{
	margin-bottom:0px;
}
.tpp i{
	font-size:18px;
}
.profilecontent{
	margin-top:50px;
}
@media (max-width: 548px){
	.tpp{
		width:100px;
		margin-left:0px;
	}
}
.about-me h2{
	text-transform:uppercase;
	font-size: 20px;
	font-weight: 500;
	color: rgb(208, 85, 51);
	letter-spacing:.06em;
	font-family:lato;
	margin-top:10px;
	margin-bottom:20px;
}
.about-me span{
	font-size: 16px;
	font-family: "Lato";
	font-weight: 600;
	color: rgb(66, 67, 68);
	font-weight: bold;
	letter-spacing:.04em;
}
.about-me p{
	font-size: 18px;
	font-family: "Lato";
	font-weight: 500;
	color: rgb(118, 119, 122);	
	letter-spacing:.04em;
}
.about-me .col-md-7{
	text-align:left;
}
.about me .col-md-3{
	text-align:left;
}
.about-me h5{
	font-size: 18px;
	font-family: "Lato";
	font-weight: 400;
	color: rgb(101, 101, 101);
	margin-top:20px;
	}
.ten-second-buttons{
	margin-left:20%;
}
/**/
/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-spin:before {
  content: "\f021";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*newtimelineCSS*/
.likecommentshare {
	margin-top:15px;
}

.stay-connected{
font-size: 22px;
font-family: "Lato";
font-weight:300;
margin:10px;   
color: rgb(17, 23, 28);
}
.stay-connected span{
border-bottom: solid 2px;
border-bottom-color:rgb(234, 137, 113);

}
.timelineend{
	background-color:#fff;
	color:black;
}
.timelineend img{
	width:90px;
}

.credits{
	margin-top:50px;
}
/*Dot and Line*/
.content .portfolio-item .portfolio-info .date:before {
          content: "";
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid #f7f7f7;
          background: #d35136;
          left: 9px;
          z-index: 1;
          
}
		  


/**/
.editTripButton{
	border-style:solid;
	border-size:1px;
	border-color:#000000;
	color:#000000;
	padding:5px;
	float:left!important;

}
/*fixing stay connected*/
#search{
	background-image:url(../Images/magnifying-glass1.png);
	background-position:center right;
	background-repeat:no-repeat;
}
.tag-window-width{
    width: 300px;
}

/*Photo Slider*/
.image-gallery-arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.image-gallery-arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.image-gallery-arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.image-gallery-arrow.prev:hover{
    opacity:1;
}
.image-gallery-arrow.next:hover{
    opacity:1;
}

.image-gallery-nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.image-gallery-nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.image-gallery-nav li.active {
    border: 5px solid #FFFFFF;
}
.image-gallery-nav li img {
    width: 100%;
}

.image-gallery-slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.image-gallery-slide {
    position: absolute;
    top: 0;
    left: 0;
}
.image-gallery-slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.image-gallery-slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.image-gallery-slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.image-gallery-slide, .image-gallery-slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 767px){
    .mobile-no-display{
        display:none;
    }
    .wrap {
   display: inline-block;
   float: right;
   padding: 0px;
   position: relative;
   margin-top: 6px;
   margin-right: 8px;
}
}

@media (min-width: 767px){
    .pc-no-display{
        display:none;
    }
    
}
.campture-search{
    background-image:url(../images/magnifying-glass1.png)!important;
    background-position:center right!important;
    background-repeat:no-repeat!important;
}

.searchbar-input input[type="text"]{
   height: 40px;
   font-size: 16px;
   display: inline-block;
   font-family: "Lato";
   font-weight: 100;
   border: none;
   outline: none;
   color: #555;
   padding: 3px;
   padding-right: 30px;
   width: 0px;
   top: 0;
   right: 0;
   background: none;
   z-index: 3;
   transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
   cursor: pointer;
}
.searchbar-input  input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
.trip-background-wrap{
    background-image:url(../images/trip-background.jpg);
}

.on-top{
z-index:35!important;
}

.portfolio-info .description{
    text-align: justify;
	font-size:16px;
}
.tags div{
	border:2px solid white;
}
.tags div:hover{
border-color:#f56c36!important;
}

.timeline-tags{
height:auto;
background-color:f7f7f7;
margin-top:20px;
}
.timeline-tags #tags{
font:lato;
color: rgb(255, 255, 255);
font-size:14px;
background-color:#252525;
border-color: rgb(178, 178, 179);
letter-spacing:.08em;
border-radius:4px;
margin-right:5px;
margin-left:5px;
padding-left:15px;
padding-right:15px;

}
.timeline-tags span{
font:lato;
font-size:14px;
color: rgb(17, 23, 28);
background-color:rgb(255, 255, 255);
padding-left:10px;
padding-right:10px;
letter-spacing:.08em;
margin-right:5px;
margin-left:5px;
margin-top:5px;
margin-bottom: 15px;
display:inline-block;
border:1px solid #ededed;
border-radius:4px;
} 
.timeline-tags span a{
	color:black;
}
.timeline-tags span a:hover{
	text-decoration:none;
	color:white;
}
.timeline-tags span:hover a{
	color:white;
}
.timeline-tags span:hover{
	background-color:#f56c36;
	text-decoration:none;
}
/*trip title-bar*/
.trip-titlebar{
   background-position:center center;
background-repeat:no-repeat;
background-size:cover;
min-height: 85vh;
max-width:100%;
   height: auto;
-webkit-filter: brightness(.5);
   filter: brightness(.5);
}
.timeline-tripname{
font-size: 3vw;;
font-family: "Lato";
font-weight: bold;
letter-spacing: 0.04em;
color: white;
text-transform: uppercase;
position:absolute;
top:43%;
width:100%;
}
.trip-intro {
	position: absolute;
    width: 100%;
    top: 60%;
	font-size: 18px;
	font-family: "Lato";
	letter-spacing:0.04em;
}
.trip-intro p{
	max-width: 500px;
    margin: auto;
	color:white;
	font-size:1.3vw;
}
.by-user{
	  padding-top:30px;
	 font-size: 16px;
	 font-family:lato;
	 font-weight:400;
	 font-style:italic;
	 color:#f56c36;
	   }
.by-user img{
	height:41px;
	width: 41px;
}
.by-user p{
  letter-spacing:0.02em;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight:200;
}



@media (max-width: 1175px){

.trip-intro p {
    max-width: 500px;
    margin: auto;
    color: white;
    font-size: 1.5vw;
}
}
@media (max-width: 980px){
	.timeline-tripname{
		font-size:3.8vw;
			}	
	.trip-intro p{
		font-size:1.8vw;
	}
}
@media (max-width: 780px){
	.timeline-tripname{
		font-size:5vw;
	}
	.trip-intro p{
		font-size:1.8vw;
	}
}
@media (max-width: 660px){
	.trip-intro p{
		font-size:2.2vw;
	}
}
@media (max-width: 550px){
	.timeline-tripname{
		font-size:7vw;
	}
	.trip-intro p{
	font-size:3.2vw;
	}
}
@media (max-width: 360px){
	.timeline-tripname{
		top:40%;
	}
	.trip-intro{
		top:54%;
	}
	
	.trip-intro p{
		font-size:3.4vw;
	}
}
/*
}
@media (min-width: 515px) and (max-width: 768px){
.timeline-tripname {
   font-size: 45px;
   font-family: "Lato";
   color: #FFF;
   text-transform: uppercase;
   position: absolute;
   top: 7%;
   width: 100%;
}
.trip-intro {
   position: absolute;
   width: 100%;
   top: 14%;
   font-size: 15px;
}
}
@media (min-width: 0px) and (max-width: 515px){
.timeline-tripname {
font-size: 26px;
font-family: "Lato";
color: #FFF;
text-transform: uppercase;
position: absolute;
top: 166px;
width: 100%;
}

.trip-intro {
   position: absolute;
   width: 100%;
   top:245px;
   font-size: 12px;
}
.by-user {
   padding-top: 15%;
   font-size: 16px;
   font-family: lato;
   font-weight: 400;
   font-style: italic;
   color: #F56C36;
}
}*/
/*share button css*/

/*X-Pro II*/
.xpro2:before, .xpro2:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none; }
.xpro2 {
  position: relative; }
  .xpro2 img {
    width: 100%;
    z-index: 1; }
  .xpro2:before {
    z-index: 2; }
  .xpro2:after {
    z-index: 3; }
.xpro2 {
  -webkit-filter: sepia(.3);
          filter: sepia(.3); }
  .xpro2::after {
    background: -webkit-radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    background: radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
    mix-blend-mode: color-burn; }

.trip-liked-color{
    color:#f56c36;
}
.facebook-login-prompt .modal-footer{
	text-align:0;
	padding:0;
    }
@media (max-width: 530px){
    .facebook-login-prompt{
        width:100%;
        }
}
    /*timeline buttons css active*/
 .Itinerary-places-photos-button-active{
	background-color: rgb(245, 108, 54) !important;
	font-size: 16px !important;
	color: rgb(255, 255, 255) !important;
	padding:15px !important;
	text-transform:uppercase !important;
}
.Itinerary-places-photos-button-active a{
	color: rgb(255, 255, 255) !important;
}

/*timeline buttons css inactive*/
.Itinerary-places-photos-button{
	background-color: rgb(255, 255, 255);
	font-size: 16px;
	color: rgb(255, 255, 255);
	padding:15px;
	text-transform:uppercase;
}
.Itinerary-places-photos-button a{
	color: #6a6a6a;
}
/*timeline like button*/
.timeline-like-button{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(254, 124, 124);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius:50px;
  color: rgb(255, 90, 90);
  width: 100px;
  font-weight:400;
  font-size: 14px;
  height:30px;
  margin-top:11px;
  line-height: 26px;
  margin-left:auto;	
  }
  .likes-quantity{
	  border-left:1px solid;
	  display:inline-block;
	  height:28px;
	  padding-left:5px;
	  line-height: 26px;
 }

/*share button timeline*/
.share-button-timeline{
  padding:0px!important;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(126, 179, 239);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius:50px;
  color: rgb(126, 179, 239);
  width: 100px;
  font-weight:400;
  height:30px;
  margin-top:11px;
  -webkit-transition: width .5s;
  transition: width .5s;
  -moz-transition:width .5s;
}

/*.share-button-timeline:hover i{
	display:inline;
	opacity:1;
}
.share-button-timeline:hover span{
	display:none;
}*/
.full-height{
	height: 100vh;
}
.explore-banner{    
    padding: 30px;
}
.explore-banner img{
    margin-left: auto;
    margin-right: auto;
	}
.dropzone-internal-border{
	margin:0px!important;
	/*border:dashed;
	border-width:2px;
	border-color:rgba(0, 0, 0, 0.3);*/
	padding-top: 31px;
    padding-bottom: 31px;
}
.dropzone-internal-border h2, h4{
	font-weight:200;
}
.dropzone-external-border{
	padding:4px!important;
	border: 1px solid rgba(222, 90, 12, 0.3);
}

.cover-input-field{
	position: relative;
    padding: 2px;
    width: 90%;
    border-bottom: solid 2px rgb(177, 175, 175);
    border-radius: 0;
    color: black;
    font-family: "lato", Helvetica, Arial, sans-serif;
    /* box-shadow: inset 1.879px -0.684px 5px 0px rgba(198, 198, 198, 0.1); */
    -webkit-appearance: none;
	font-weight:600;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    margin-top: 15px;
	margin-left:25px;
}
.cover-input-field:focus{
	border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #c6f2ff!important;
    outline: none !important;
}
.cover-input-field:focus + .input-symbol{
	color:#f56c36;
}
.no-shadow{
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
}
.input-add-ons{
	position:relative;
}
.input-symbol{
	display: block;
    float: left;
    position: absolute;
    top: 10px;
	color:#FFBEB0;
	font-size:20px;
}
.text-area-border-color:focus + .input-symbol{
	color:#f56c36;
}
.input__field::-webkit-input-placeholder{

	color:rgb(177, 175, 175);
}
.text-area-border-color::-webkit-input-placeholder{
	font-weight:200;
	color:rgb(177, 175, 175);
}
.cover-input-field::-webkit-input-placeholder{
	font-weight:200;
	color:rgb(177, 175, 175);
}
 .text-area-border-color::-webkit-input-placeholder{
 	 }
 .cover-input-field::-webkit-input-placeholder{
 	
	font-weight:200;
 }
.text-area-border-color:required {
  box-shadow: none;
  
}

.highlight-cursor{
    cursor: pointer;
}

/*footer CSS*/
footer{
	padding-top:20px;
	padding-bottom:40px;
	background:#252525;
	color:white!important;
	font-weight: 100;
    letter-spacing: 1px;
	z-index:2;
	position:relative;
}
footer a{
	color:white;
}
footer a:hover{
	color:white;
	text-decoration:none;
}
footer ul{
	list-style:none;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:40px;
	
}
footer ul li{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
}
.footer-social-icons{
	font-size:30px;
	padding-bottom: 15px;
}
.footer-social-icons span{
	border-bottom:solid 1px #b5b5b5;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	margin:-5px;
}
.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

/*@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
}*/
    
.title-overflow-hidden {
    overflow: hidden;
    height: 20px;
}
.panel-default {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border:none!important;
	}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top:none;
}
.thumbnail .caption {
	overflow:auto;
}
/*@media (min-width: 1200px){
.timeline-container {
    width: 1410px;
}*/

.panel-open{
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)!important;
    margin: 16px 0!important;
}
.panel-group .panel + .panel{
	margin-top: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 65px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.panel-group .panel{
	margin-top: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 65px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dancing-script{
	font-family: 'Dancing Script', cursive!important;
}
.navbar-nav{
	letter-spacing:1px;
	color:#000000!important;
	font-weight:500;
	font-size:15px;
}
 .navbar-nav > li > a{
	 color:#000000!important;
 }
 
 .ig-mayfair {
 -webkit-filter: saturate(1.4) contrast(1.1);
 filter: saturate(1.4) contrast(1.1);
}
.ig-lofi {
  filter: contrast(1.4) brightness(0.9) sepia(0.05);
  -webkit-filter: contrast(1.4) brightness(0.9) sepia(0.05);
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;
}
.rrssb-buttons{
	margin-top:36px;
}
.rrssb-buttons-dropup{
	width:278px!important;
	left:-57px!important;
	border:none!important;
	background:transparent!important;
}
.rrssb-buttons li{
	display:inline-block!important;
	float:none!important;
}
@media (min-width: 768px){
	.media-buttons-margin{
	margin-top:20px;	
	margin-left: 24.333333%;
	}
}
@media (max-width: 767px){
	.media-buttons-margin{
		margin-left:auto;
		margin-right:auto;
		padding-top:15px;
	}
}

.fb_iframe_widget iframe{
	position:relative;
}
/*Loader Css*/



.site-loader{
  width:152px;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
  height:auto;
  }

.stick {
  
 width: 30px;
 height:3px;
 background:black;
 display:inline-block;
 margin-left:-8px;
  
}

.stick:nth-child(n) {  
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  -moz-transform:rotate(30deg);
  -webkit-animation: fall 2s infinite;
  -moz-animation: fall 2s infinite;
   transform:rotate(30deg);
}
.stick:nth-child(2n) {  
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -moz-transform:rotate(-30deg);
  -webkit-animation: rise 2s infinite;
  -moz-animation: rise 2s infinite;
   transform:rotate(-30deg);	
}

@-webkit-keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg); 
    ;}
}
@-moz-keyframes rise {
 50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg);
   transform:rotate(30deg);
  
}
}
@-o-keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg);
   
}
}
 @keyframes rise {
  50% { 
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(30deg);
   
}
}

@-webkit-keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg);
  transform:rotate(-30deg); 
}
}
@-moz-keyframes fall {
 50% { 
 	-ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  transform:rotate(-30deg); 
 }
}
@-o-keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
   -moz-transform:rotate(30deg); 
	transform:rotate(-30deg);
  }
}
@keyframes fall {
  50% { 
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg); 
transform:rotate(-30deg);
  }
}

@-webkit-keyframes fade {
  50%{opacity:0.5}
  100% {opacity:1}
  }
@-moz-keyframes fade {
 50%{opacity:0.5}
  100%{opacity:1}
}
@-o-keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}
@keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}

.site-loader-center{
    width: 152px;
    margin: auto;
}
/*Loader Css end*/

/*onboarding css*/

.onboarding-wrap{
	padding-top:20px;
	padding-bottom:20px;
}
.feature-grid1 {
  margin-top: 13em;
}

@media only screen and (max-width: 992px){
.feature-grid1 {
  margin-top: 1em;
  text-align: center;
}
.onboarding-wrap div{
	float:none!important;
}
}
.onboarding-wrap p{
	font-size:20px;
}
.onboarding-wrap img{
	margin:auto;
}
/**/
.word-count{
	padding-left:25px;
}
/*profile-page-header responsive*/
.ten-seconds{
	padding-left:85px;
}
@media only screen and (max-width: 1199px){
	.profile_page_header{
		height:450px;
	}
}
@media only screen and (max-width: 991px){
	.profile_page_header{
		height:480px;
	}
	.ten-seconds{
		padding-left:0px;
	}
	.about-me .col-md-7{
		text-align:center;
	}
}
@media only screen and (max-width: 589px){
	.profile_page_header{
		height:520px;
	}
}
@media only screen and (max-width: 589px){
	.profile_page_header{
		height:560px;
	}
}
.content-wrap{
	z-index:1;
	background:url("/img/backgrounds/no-trips.png");
	height:100vh;
	background-position:top;
	background-repeat:no-repeat;
	vertical-align:central;
	padding-top:20vh;
}
/*Timeline modal fix*/
.ng-modal-dialog{
	max-width: 100%;
	height: auto;
}
.tips-for-sub{
	position:absolute;
	top:75px;
	right:20px;
	z-index: 1;
	background:white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}
	
	.tips-for-sub h4{
		text-transform:uppercase;
	}
	.tips-for-sub .row{
		padding-left:20px;
	}
	
	
/*fading carousel*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right 
	{
	}}
.get-started-btn{
  border:0px;
  font-size: 22px;
  font-family: "Lato";
  font-weight: 800;
  letter-spacing: 0.04em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(245, 95, 13);
  border-radius:30px;
  width: 9.3em;
  height: 65px;
  padding-top:17px;
  margin-top:5px;
  margin-bottom:5px;
	}
.get-started-btn:hover{
	box-shadow: 0px 0px 30px 0px rgba(236, 19, 19, 0.6);
	background-color:rgb(150,55,37);
	color:rgb(255,255,255);
}
.landing-carousel-text{
	font-size: 22px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: .04em;
  color: rgb(255, 255, 255);
  
}
@media (max-width: 360px){
	.carousel-caption{
		bottom:0;
	}
}
.intro{
	padding-top:15px;
	padding-bottom:15px;
}
.ng-modal-close{
	color: white;
    top: 0px;
    right: -25px;
}
.must-visit {
	padding-top:10px;
}
.must-visit .text-center span{
	padding-top:15px;
	padding-bottom:15px;
	font-size:28px; 
	color:white;
}
.loginwithfacebook-two{
	border-radius: 4px;
    background-color: rgb(59, 89, 152)!important;
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(255, 255, 255)!important;
    font-family: lato;
    letter-spacing: 0.04em;
    font-size:20px;
	width:100%;
}
.loginwithfacebook-two i{
	padding-top: 25px!important;
	padding-bottom: 25px!important;
}
.loginwithfacebook-two span{
	padding-top: 25px!important;
	padding-bottom: 25px!important;
	}
.instructions img{
	padding-left:5px;
	padding-right:5px;
	padding-top:15px;
	padding-bottom:10px;
}
.instructions i{
	font-size: 46px;
	color: rgb(245, 95, 13);
	padding-left:10px;
	padding-right:10px;
}
/*explorer page*/
.explorer-prog-wrap h1,
.explorer-prog-wrap h3{
	font-weight:400;
	padding-top:10px;
	padding-bottom:10px;
	letter-spacing:1px;
	color:#f56c36;
}
.explorer-prog-wrap p{
	padding-bottom:10px;
	font-size:18px;
	letter-spacing:1px;
}
.explorer-prog-wrap li{
	font-size:20px;
	border:thin;
	border-color:#c3c3c3;
	border-style:solid;
	margin:5px;
	padding:5px;
}
.explorer-hero{
	background-image:url(../Images/explorer_program_hero.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:400px;
}
.explorer-prog-wrap button{
	margin-left:auto;
	margin-right:auto;
	font-weight:100;
}
.explorer-jumbotron{
	background-image:url(../images/explorer-hero-2.jpg);
	height:600px;
	margin-top:20px;
}
.explorer-jumbotron h2{
	font-size:36px;
	color:#FFF9F9;
	text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
}
.explorer-jumbotron p{
	font-size:18px;
	text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
}
.more-pl-btn{
	background-color:rgb(245, 95, 13);
	color:#FFFFFF;
}
.angellist img{
padding-left:10px;
padding-right:10px;
padding-bottom:20px;
}