
/* common css style */
.make-responsive-img {
	width: 100%;
	height: auto;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.no-margin {
	margin-right: 0;
	margin-left: 0;
}
ul,ol {
	margin: 0;
}


/************************/

/* overwrite bootstrap */
.navbar-nav > li > a {
    color: black;
    background: transparent;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 26px 0;
    border-top: solid 2px transparent;
    font-family: Lato;
    font-weight: 600;
}
.navbar-nav > li > a:hover {
	border-top: solid 2px #e13807;
	background: transparent;
}
.navbar-nav > li .active {
	//background: #fff;
}
.navbar-toggle {
	border:solid 1px #000000;
	margin-top: 0;
}
.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 #2c2c2c;
}
.navbar-collapse {
	margin-top:2px;
}
/************************/
.header {	
	background:#AEB7B4 url('/css/images/HeaderBg.png') no-repeat 0 0;
	background-size: 100% 100%;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.top-bar {
	background: rgba(0,0,0,0);
	padding:15px 0;
}
.site-name {
	text-transform: uppercase;
	font-size: 32px;
	color: #fff;
	font-family: "Glacial Indifference";
	margin-top: 17px;
}
.profile-new{
	margin-top:0.3em;
    margin-bottom: 0.2em;
	font-family: "open sans";
}
.profile-name-new {
	padding-right: 5px;
}
.profile-picture-new {
	border:solid 2px #fff;
	
}
.profile-overview{
	font-family: "open sans";
	font-family: 20px;
	color: #fff;
	text-shadow:0 1px 3px #474747;
	margin-top: 20px;
	font-weight: bold;
}
.profile-overview h4 {
	margin-top:0;
}
.profile-overview i {
	width: 15px;
}
.my-trip {
	text-transform: uppercase;
	font-size: 32px;
	color: #fff;
	font-family: "Glacial Indifference";
	text-shadow:0 1px 3px #474747;
	text-align: center;
	margin-top: 60px;
}

.locaion {
    color: #FFFFFF;
    font-family: "open sans";
    font-size: 14px;
    margin-top: 120px;
    text-align: right;
}
.locaion i{
	border-radius: 0;
}


@media (max-width: 550px)  { 
  	
}

@media (max-width: 767px) { 
  	.myfeed,.profile{
        margin-top: 0.1em;
        float: left;
  	}
  	.header {
  		height: auto !important;
  	}
  	.profile-overview { 
  		margin-bottom: 20px;
  	}
  	.locaion {
  		text-align: center;
  		margin-bottom: 20px;
  		margin-top: 20px;
  	}
  	.mid-nav-worp-td {
  		text-align: left;
  	}
}

.button.facebook{
    margin-top: 0.9em;
    cursor: pointer;
}

@media (max-width: 992px)  { 
  	
}



/** New CSS **/

.mid-nav{
	background-size: 100% 55px;
	height:55px;
	display:block;
	overflow:hidden;
	height:auto;
}

.mid-nav-worp{
	max-width:80%;
	margin:0 auto;
	display:block;
	overflow:hidden;
}

.mid-nav-worp-menu ul{
	display:block;
	overflow:hidden;
}
.mid-nav-worp-menu ul li{
	float: left;
    list-style: none outside none;
    margin-right: 20px;
}
.mid-nav-worp-menu ul li a{
	padding-bottom: 15px;
	line-height:54px;
	font-size:16px;
	color:#555F65;
	font-family: 'Slabo 27px', serif;
	font-weight:bold;
	text-decoration:none;
}

.mid-nav-worp-menu ul li a:hover{
	border-bottom:2px solid #E34103;
}

.mid-nav-worp-td{
	background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 15px;
    text-align: center;
}

.mid-nav-worp-td ul{
	display:block;
	overflow:hidden;
}
.mid-nav-worp-td ul li{
	list-style:none;
	float:left;
}
.mid-nav-worp-td ul li a{
	padding:14px 5px;
	line-height:54px;
	font-size:18px;
	color:#555F65;
	//font-family: 'Slabo 27px', serif;
	font-weight:bold;
	text-decoration:none;
}

.mid-nav-worp-td ul li a i{
	padding:0px 3px;
}

.mid-nav-worp-td ul li a:hover{
	border-bottom:2px solid #E34103;
}

.mid-nav-worp-social {
	background: #F8F8F8;
}

.mid-nav-worp-social ul{
	display:block;
	overflow:hidden;
}
.mid-nav-worp-social ul li{
	list-style:none;
	float:left;
	padding: 0 10px;
}
.mid-nav-worp-social ul li a{
	padding:6px 0;
	border-radius:2px;
	line-height:54px;
	font-size:18px;
	color:#555F65;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-decoration:none;
}

.notification {
	padding: 0;
}

.b-red{
	background-color:#F09368;
	border-radius:0;
	padding: 11px 15px 9px 17px;
	font-size:16px;
}

.b-blue{
	background-color:#3571E1;
	border-radius:0;
	padding: 11px 15px 9px 17px;
	font-size:16px;
}

.mid-nav-worp-social ul li a:hover{
	
}
.mid-nav-worp-social ul li a i{
	padding: 0 7px 0 10px;
	color:#fff;
	border-right:
}

.mid-nav-worp-social .hert{
	background:#E34103;
}

.mid-nav-worp-social .g_talk{
	background:#1856C3;
}

.mid-nav-worp-social .share{
	background:#5ABB9C;
	padding:6px;
}

.next h2{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

.next p{
	text-align:center;
	color:#E34103;
	font-weight:bold;
	font-size:20px;
}

.next p i{font-weight:bold;}

.next-article{
	width:750px;
	margin:0 auto;
	color:#333;
	font-size:12px;
	border:1px solid #ddd;
	box-shadow:2px 2px #ddd;
	border-radius:2px;
	display:block;
	overflow:hidden;
}

.next-article p{
	color:#333;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	padding:10px 25px;
}

.next-bimage{	
	height:auto;
	width:750px;
	margin:0 auto;
	margin-top:50px;
	border:1px solid #ddd;
	padding:10px;
	border-radius:5px;
	display:block;
	overflow:hidden;
}

.next-image{
	background: url('../images/01.jpg') no-repeat 0 0;
	background-size: 100% 100%;
	height:400px;
	width:730px;
}

.next-image-caption{
	width:100%;
	display:block;
	top:360px;
	position:relative;
	background:#333;
	opacity:0.55;
	height:40px
	
}

.next-image-caption p{color:#fff}

.next-bimage01{
	width:850px;
	margin:0 auto;
	background:#fff;
	border:1px solid #ddd;
	display:block;
	height:auto;
	overflow:hidden;
}

.next-image01{
	float:left;
	padding:10px 5px 10px 10px;
	display:block;
	overflow:hidden;
	width:418px;
	
}

.next-image02{
	float:right;
	padding:10px 10px 10px 5px;
	display:block;
	overflow:hidden;
	width:420px;
}


.next-bimage01 img{
	border:1px solid #ddd;
	border-radius:2px;
}


.next-bimage02{
	width:600px;
	margin:0 auto;
	background:#fff;
	border:1px solid #ddd;
	display:block;
	height:auto;
	overflow:hidden;
	margin-top:50px;
}

.next-image03{
	padding:10px;
	display:block;
	overflow:hidden;
	width:600px;
}

.next-bimage03 img{
	border:1px solid #ddd;
	border-radius:2px;
}


footer{
	max-width:100%;
	background:#1B1B1B;
	padding:30px 0;
	margin-top:20px;
}

.footer-nav-worp{
	width:800px;
	margin:0 auto;
	padding:25px 0;
}

.footer-nav-worp-td h2{
	color:#F94000;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.footer-nav-worp-menu {
	margin-top:25px;
}
.footer-nav-worp-menu ul{
	display:block;
	overflow:hidden;
}
.footer-nav-worp-menu ul li{
	list-style:none;
	float:left;
}
.footer-nav-worp-menu ul li a{
	padding:14px 15px;
	font-size:15px;
	color:#969595;
	font-family: 'Slabo 27px', serif;
	text-decoration:none;
}

.footer-nav-worp-menu ul li a:hover{
	color:#fff;
}

.footer-nav-worp-social{
	margin-top:25px;
}

.footer-nav-worp-social ul li{
	list-style:none;
	float:left;
}
.footer-nav-worp-social ul li a{
	padding:10px 15px;
}

.footer-nav-worp-social ul li a i{color:#F94000;font-size:20px}
.footer-nav-worp-social ul li a:hover{}

div.toolbar-wrap.tags-bar {
    margin-top: 3%;
    border: 0.15em rgba(237, 131, 35, 0.6) solid;
    margin-bottom: 1%;
}

.tag {
    margin-left: 2%;
    font-family: Lato;
}

.title-tag {
    font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.editor-cover-image {
    /*display: table-cell;*/
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    padding: .4em 9px;
    outline: 0;
    color: #444;
    min-height: 4.5em;
    margin-bottom: 1em;
    text-align: center;
}

div.cover-message {
    margin-top: 0.4em;
    opacity: 0.8;
}

a.uploader {
    cursor: pointer;
    color: #ff682e;
    text-decoration: underline;
}

.dz-started .dz-message {
    display: none;
}

.editor-cover-image .dz-details,.dz-success-mark,.dz-error-mark,.dz-error-message,.dz-progress {
    display: none;
}

.editor-cover-image .dz-preview {
    max-height: 100%;
    overflow: hidden;
}


.parallelogram {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 140px;
    height: 80px;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(255,57,0);
    -webkit-transform: skewX(20deg);
    transform:skewX(20deg);
    opacity: 0.651;
}

.navbar-collapse {
    max-height: 500px;
}

a.my-feed-nav {
    padding-top: 1em;
}

.navbar-collapse .my-feed-nav {
    width: 50%;
}

@media (max-width: 1100px) {
    .navbar-collapse .navbar-nav>li>a {
        font-size: 14px;
        margin-right: 11px;
    }
    .navbar-collapse {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 1000px)  {

    /*.navbar-collapse .navbar-nav > li > a {*/
        /*font-size: 15px;*/
    /*}*/

    ul.nav.navbar-nav {
        margin-left: 0px;
    }

    .col-md-3.profile {
        width: 40%;
        float: right;
        margin-top: -3%;
    }

    .col-md-2.my-feed-nav {
        width: 20%;
        float: left;
        margin-top: 0px;
        z-index: 2;
    }
}

@media (max-width: 1200px) {
    .col-md-2.my-feed-nav {
        margin-top: 1%;
    }

    .day-header h2.title {
        font-size: 28px;
    }

    .day-header .day-date {
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    .col-md-2.my-feed-nav {
        width: 35%;
        margin-top: 0px;
    }
    .navbar-toggle {
        margin-right: 20%;
    }

    .day-header h2.title {
        font-size: 20px;
    }

    .day-header .day-date {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    .col-md-2.my-feed-nav {
        width: 60%;
    }

    .col-md-3.profile {
        width: 100%;
        float: right;
        margin-top: 1%;
    }

    .navbar-col {
        width: 50%;
    }
}

.row.no-margin {
    text-align: center;
}

.profile-name-col {
    margin-left: -8%;
}

.day-header {
    background: #ffffff;
}

/*.navbar-collapse.in .my-feed-nav {*/
    /*width: 60%;*/
/*}*/

