<script type="text/javascript">
Dropzone.autoDiscover = false;
</script>
<div profile-wrap files="userObj"></div>
<div class="content-wrap" id="content">
<div class="site-content container">
<form name="postTripForm" ng-submit="updateTrip()" role="form">
    <div class="editor-header">
			<div class="editor-cover-image">
				<!--<div id="trip_photo" class="photo-preview" style="background-image:url(/media/cache/99/44/99445a2f61c051a29e09ba7cbc2fd264.jpg)"></div>
					<a href="" class="uploader">
					<span class="fa fa-upload"></span>
					<input ng-model="newTrip.main_image.image_url" id="id_photo" name="photo" type="file" class="element-file" data-image="trip_photo">
					</a>-->
                <!--<div  class="photo-preview needsclick dz-clickable" dropzone="mainImageDropzoneConfig" style="cursor: pointer;">-->
                    <!--<div class="dz-message needsclick"> </div>-->
                    <!--<span class="fa fa-upload"></span>    &lt;!&ndash;main-image-fix&ndash;&gt;-->
                   <!--</div>-->
			</div>
			<div class="editor-title" ng-class="{ 'has-error': postTripForm.title.$dirty && postTripForm.title.$error.required }">
				<input ng-model="newTrip.title" maxlength="100" name="title" placeholder="Title" type="text" required>
                <span ng-show="postTripForm.title.$dirty && postTripForm.title.$error.required" class="help-block">Title is required.</span>
			</div>
	</div>
	<div class="form-fields" ng-class="{ 'has-error': postTripForm.introduction.$dirty && postTripForm.introduction.$error.required }">
		<textarea ng-model="newTrip.introduction" cols="40"  maxlength="3000" name="introduction" placeholder="Intro..." rows="3" required></textarea>
        <span ng-show="postTripForm.introduction.$dirty && postTripForm.introduction.$error.required" class="help-block">Required.</span>
	</div>
    <uib-accordion close-others="true">
        <ng-form name="placeForm">
            <uib-accordion-group heading="{{places[placeindex].location === undefined ? 'untitled' : places[placeindex].location}}" ng-repeat="placeindex in newplaces track by $index" close="closeAlert($index)">
                <div class="editor-content pane clearfix">
		            <div class="column span-6">
			            <div class="form-fields">
				            <div ng-class="{ 'has-error': placeForm.location.$dirty && placeForm.location.$error.required }">
				                <input type="text" name="location"  class="element-addresspicker element-text ui-autocomplete-input loaded" placeholder="Location" ng-autocomplete ng-model="places[placeindex].location" options="options" details="details" ng-focus="getPlaceIndex(placeindex)" required/>                       
                                <span ng-show="placeForm.location.$dirty && placeForm.location.$error.required" class="help-block">Required.</span>
                            </div>
                            <div ng-class="{ 'has-error': placeForm.date.$dirty && placeForm.date.$error.required }">
                                <input name="date" type="text" class="element-datepicker hasDatepicker loaded" placeholder="Date" ng-click="open($event)" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="places[placeindex].date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" required/>
				                <span ng-show="placeForm.date.$dirty && placeForm.date.$error.required" class="help-block">Required.</span>
                            </div>
				             <div>
                                <textarea cols="40" maxlength="3000" name="form-0-content" placeholder="Note..." rows="2" ng-model="places[placeindex].note"></textarea>
			                </div>
			            </div>
		            </div>		        
                    <div ng-click="setUploadPlaceIndex(placeindex)" class="column span-6">
                        <div  class="dropzone needsclick dz-clickable" dropzone="dropzoneConfig">                        
                            <div class="dz-message needsclick"><div ng-show="initPlaces[placeindex].images == null">Drag and drop files here or click to upload</div></div>
                            <div ng-repeat="image in initPlaces[placeindex].images track by $index" class="dz-preview dz-file-preview">
	                            <div  class="dz-image">
		                            <img ng-src="{{image.image_url}}">
	                            </div>
	                            <a class="dz-remove" href="javascript:undefined;" data-dz-remove="">Remove file</a>
                            </div>
                       </div>
                    </div>
	            </div>            
            </uib-accordion-group>
        </ng-form>
    </uib-accordion>
    <div class="form-fields">
		<textarea ng-model="tags" cols="40"  maxlength="3000" name="tags" placeholder="Tags..." rows="3"></textarea>
	</div>
    <a href="" ng-click="addPlace();" class="button element-ajax" ><span class="fa fa-plus"></span> Add Place</a>
    <a href="" ng-click="updateTrip();" class="button primary element-submit"><span class="fa fa-file-text"></span> <span class="mobile-hidden-320">Update Trip</span><span class="mobile-visible-320">Publish</span></a>
</form>
</div>
</div>