<div class="locationPageWrap container">
    <div class="container locationHeader">
        <span class="h1">{{location.name}}</span>
        <span class="locationRatings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
        <ol class="breadcrumb">
            <li ng-repeat="addressComponent in location.address_components" ng-if="addressComponent.types[0] == 'country'">
            <a ng-click="routeToLocation(addressComponent.long_name)" ng-href="">{{addressComponent.long_name}}</a>
            </li>
            <li ng-repeat="addressComponent in location.address_components" ng-if="addressComponent.types[0] == 'administrative_area_level_1'">
            <a ng-click="routeToLocation(addressComponent.long_name)" ng-href="">{{addressComponent.long_name}}</a>
            </li>
            <li ng-repeat="addressComponent in location.address_components" ng-if="addressComponent.types[0] == 'administrative_area_level_2'">
            <a ng-click="routeToLocation(addressComponent.long_name)" ng-href="">{{addressComponent.long_name}}</a>
            </li>
            <li ng-repeat="addressComponent in location.address_components" ng-if="addressComponent.types[0] == 'natural_feature'">
            <a ng-click="routeToLocation(addressComponent.long_name)" ng-href="">{{addressComponent.long_name}}</a>
            </li>
            <!--<li ng-repeat="addressComponent in location.address_components" ng-if="addressComponent.types[0] == 'locality'">
            <a ng-href="">{{addressComponent.long_name}}</a>
            </li>-->
        </ol>
    </div>
    <div class="row">
        <div class="locationHeroImage col-md-8">
            <uib-carousel interval="" no-wrap="false">
                <uib-slide class="select-pointer" ng-repeat="image in newImages track by $index" active="slide.active" index="$index"><!--getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/')  ng-click="toggleModal(getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_0.9,w_0.9/'),place.note)"-->
                    <img ng-src="{{image.photoPixelsUrls[3].url}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
        </div>
        <div class="col-md-4">
            <div class="row well">
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 featureIcons">
                    <img src="./Location_page_files/Vector Smart Object copy 7.png">
                </div>

            </div>
            <div class="row well" style="height:184px;">
                <i class="fa fa-sun-o col-md-4 col-sm-4 col-xs-4" style="font-size:100px"></i>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p style="font-size:36px">22 ℃ </p>
                    <p style="font-size:36px">Sunny</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="writeReview" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Write a Review for Location</h4>
            </div>
            <div class="modal-body">
                <textarea placeholder="Write your review..."></textarea>
                <ul>
                    <li><i class="fa fa-camera"></i></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Add Review</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs nav-justified" style="margin-top:10px;">
                <li class=""><a data-toggle="tab" href="file:///Volumes/Macintosh%20HD/Users/seemachowdhary/Desktop/Campture/Campture%20Website/Campture%20Homepage/locationPage.html#reviews" aria-expanded="false">Reviews</a></li>
                <li class="active"><a data-toggle="tab" href="file:///Volumes/Macintosh%20HD/Users/seemachowdhary/Desktop/Campture/Campture%20Website/Campture%20Homepage/locationPage.html#tips" aria-expanded="true">Tips</a></li>
            </ul>
            <div class="tab-content">
                <div id="reviews" class="tab-pane fade">
                    <h3></h3>
                    <!--comment boxes-->
                    <div class="container commentsWrap">
                        <div class="row">
                            <div class="col-md-8" ng-repeat="locationReview in locationReviews track by $index">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img ng-src="{{locationReview.user_pointer.facebook_profile.picture.data.url}}" class="img-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a ng-href="#/account/profile/{{locationReview.user_pointer.objectId}}"><b>{{locationReview.user_pointer.facebook_profile.name}}</b></a>
                           wrote a review 
                                                <span class="cardRating"><star-rating ng-model="locationReview.rating" readonly="true"></star-rating></span>
                                            </div>
                                            <h6 class="text-muted time">{{locationReview.timeSincePostUpdated}} minute ago</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>{{locationReview.review_text}}</p>
                                        <!--<div class="stats">
                                            <a ng-click="" href="" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-up icon"></i>{{locationReview.upvote_count}}
                                            </a>
                                            <a ng-click="" href="" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-down icon"></i>{{locationReview.downvote_count}}
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tips" class="tab-pane fade active in">
                    <!--comment boxes-->
                    <div class="container commentsWrap">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel panel-white post panel-shadow" ng-repeat="locationTip in locationTips track by $index">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <img ng-src="{{locationTip.user_pointer.facebook_profile.picture.data.url}}" class="img-circle avatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a ng-href="#/account/profile/{{locationTip.user_pointer.objectId}}"><b>{{locationTip.user_pointer.facebook_profile.name}}</b></a>
                           wrote a tip
                                            </div>
                                            <h6 class="text-muted time">{{locationTip.timeSincePostUpdated}} minute ago</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>{{locationTip.tip_text}}</p>
                                        <!--<div class="stats">
                                            <a ng-click="" href="" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-up icon"></i>{{locationTip.upvote_count}}
                                            </a>
                                            <a ng-click="" href="" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-down icon"></i>{{locationTip.downvote_count}}
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <form name="reveiewForm" ng-submit="" role="form">
                <h3 class="text-center text-capitalize">Rate this place</h3>
                <h2 class="rateThis text-center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></h2>
                <div star-rating ng-model="review.rating" max="5" on-rating-select="rateFunction(rating)" read-only="false"></div>
                    <input name="rating" ng-model="review.rating" type="hidden" required>                
                <ul class="ratingQuestions">
                    <li>
        Was food available here?<br>
                        <button ng-click="review.isFoodAvailable = 2" class="btn">Yes</button> <button ng-click="review.isFoodAvailable = 1" class="btn">No</button> <button ng-click="review.isFoodAvailable = 0" class="btn">Don't Know</button>
                        <input  name="isFoodAvailable" ng-model="review.isFoodAvailable" type="text" ng-value="review.isFoodAvailable" style="display:none" required>                    
                    </li>
                    <li> Availability for accomodations?<br>
                        <button ng-click="review.isAccommodationAvailable = 2" class="btn">Yes</button> <button ng-click="review.isAccommodationAvailable = 1" class="btn">No</button> <button ng-click="review.isAccommodationAvailable = 0" class="btn">Don't Know</button>
                    </li>
                    <li> Difficulty in reaching this place?<br>
                        <button ng-click="review.difficultyGrade = 0" class="btn">Easy</button> <button ng-click="review.difficultyGrade = 1" class="btn">Moderate</button> <button ng-click="review.difficultyGrade = 2" class="btn">Difficult</button> <button ng-click="review.difficultyGrade = 3" class="btn"> Strenuous</button>
                    </li>
                </ul>
                <textarea ng-model="review.reviewText" rows="3" name="review" placeholder=" &nbsp; &nbsp; &nbsp; &nbsp; Add a quick summary of your experience." required></textarea>
                <button ng-click="postReview()" type="submit">go</button>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="map" style="display: none"></div>