<div class="onboarding-wrap container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="img/howTo/how-to-01.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-12 text-center feature-grid1">
            <h1>Welcome to Campture</h1>
            <p>Explore experiences and itineraries by travellers.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 pull-right">
            <img src="img/howTo/how-to-02.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-12 text-center feature-grid1">
            <h1>Create your own timeline</h1>
            <p>Upload precious moments of your journey.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="img/howTo/how-to-03.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-12 text-center feature-grid1">
            <h1>MAP TRIPS EFFORTLESSLY</h1>
            <p>Tag locations to keep your family and friends updated.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 pull-right">
            <img src="img/howTo/how-to-04.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-12 text-center feature-grid1">
            <h1>BEAUTIFUL PHOTO NARRATIVES</h1>
            <p>Write some words to go with your photos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="img/howTo/how-to-04.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 col-sm-12 text-center feature-grid1">
            <h1>PUBLISH &amp; GET SOCIAL</h1>
            <p>Share your stories and inspire fellow travellers.</p>
        </div>
    </div>
</div>