<div class="timeline-wrap">
    <div ng-show="postStep == 1 || postStep == 2 || postStep == 4" class="timeline-top-section">
        <!--full screen cover image #1, #4(full-height) #2(half-height)-->
        <div class="timeline-cover-photo-wrap full-height" ng-class="{'full-height': postStep == 1 || postStep == 4, 'half-height': postStep == 2 }" style="background-image:url(../../../../css/images/IMG_0074.JPG)" ng-style="{'background-image':'url(' +getCroppedTripImageUrl(newTrip.main_image.image_url,'upload/c_fill,h_400,w_960/')+ ')'}">
        </div>
        <div class="timeline-heading container">
            <!--trip heading and disc #2-->
            <div class="trip-title text-center">
                <p ng-show="!newTrip.title" ng-click="openCoverModal()" class="trip-name">Enter your title here</p>
                <p class="trip-name">{{newTrip.title}}</p>
                <p class="trip-name"><a ng-click="openCoverModalForEdit()" class="btn">Edit</a></p>
            </div>

            <div class="trip-disc text-center">
                <img src="./Campture_files/Comma_left.png" class="pull-left"><br>
                <p>{{newTrip.introduction}}</p>
                <img src="./Campture_files/Comma_right.png" class="pull-right">
            </div>
            <div class="profile-pic text-center">
                <img ng-src="{{userObj.facebook_profile.picture.data.url}}" class="img-circle">
                <p>{{userObj.facebook_profile.name}}</p>
            </div>
        </div>
        <!--Itinerary, places, photos header, appears after first card #4(show)-->
        <div ng-show="postStep == 4" class="timeline-thirdheader-two text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 Itinerary text-center col-xs-12 col-sm-8 col-md-offset-1 col-sm-offset-1">
                        <div class="row">
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 0}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button">
                                <a href="" ng-click="updateTripTabPos(0)"><i class="fa fa-map-o">&nbsp; </i><span style="margin-bottom:0px!important;">Guide</span></a>
                            </div>
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 1}" class="col-md-4 col-xs-4 col-sm-4 Itinerary-places-photos-button" ng-click="updateTripTabPos(1)">
                                <a href="" ng-click="updateTripTabPos(1)"><i class="fa fa-map-marker"> &nbsp;</i><span style="margin-bottom:0px!important;">Places</span></a>
                            </div>
                            <div ng-class="{'Itinerary-places-photos-button-active': tripTabIndex == 2}" class="col-md-4 col-xs-4 col-sm-3 Itinerary-places-photos-button">
                                <a href="" ng-click="updateTripTabPos(2)"><i class="fa fa-picture-o">&nbsp;</i><span style="margin-bottom:0px!important;">Photos</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                                                    <!--<div class="col-md-3 col-xs-4 col-sm-4 text-center"><a href="" ng-click="scrollToCommentSection()"><i class="fa fa-comments"><sup><span class="fb-comments-count" data-href="{{pageUrl}}"></span></sup></i></a></div>
                                                                                                                                                    <div class="col-md-3 col-xs-4 col-sm-4 text-center"><a href=""><i class="fa fa-share-alt"><sup></sup></i></a></div>-->
                        <!--<div class="fb-share-button" data-href="{{pageUrl}}" data-layout="icon"></div>-->
                                                    <!--<div style="cursor: pointer" ng-class="{likeDisabled: isLikeDisabled}" class="timeline-like-button" ng-click="tripLikeUnlike();isLikeDisabled = !isLikeDisabled">
                                                                                                    <em ng-class="{&#39;fa fa-heart&#39;: likeId != undefined, &#39;fa fa-heart-o&#39;: likeId == undefined}" class="fa fa-heart">&nbsp; </em><span>like &nbsp; </span><span class="likes-quantity">{{trip.total_likes}}</span>
                                                                                                </div>-->
                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs">
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle share-button-timeline " type="button" data-toggle="dropdown">Share
                                <span><i class="fa fa-share-alt"></i></span></button>
                            <ul class="rrssb-buttons dropdown-menu rrssb-buttons-dropup">
                                                                    <!--<li class="rrssb-googleplus small">
                                                                                                                                                                                  <a ng-href="https://plus.google.com/share?url=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are%20{{pageUrl}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"  class="popup"><span class="rrssb-icon">
                                                                                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                                                                                                                                        <path d="M21 8.29h-1.95v2.6h-2.6v1.82h2.6v2.6H21v-2.6h2.6v-1.885H21V8.29zM7.614 10.306v2.925h3.9c-.26 1.69-1.755 2.925-3.9 2.925-2.34 0-4.29-2.016-4.29-4.354s1.885-4.353 4.29-4.353c1.104 0 2.014.326 2.794 1.105l2.08-2.08c-1.3-1.17-2.924-1.883-4.874-1.883C3.65 4.586.4 7.835.4 11.8s3.25 7.212 7.214 7.212c4.224 0 6.953-2.988 6.953-7.082 0-.52-.065-1.104-.13-1.624H7.614z"></path>
                                                                                                                                                                                        </svg></span><span class="rrssb-text">google+</span>
                                                                                                                                                                                  </a>
                                                                                                                                                                              </li>-->
                                <li style="cursor: pointer" class="rrssb-facebook small">
                                    <a ng-click="shareOnFacebook()" class="popup">
                                        <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"></path></svg></span>
                                        <span class="rrssb-text">facebook</span>
                                    </a>
                                </li>
                                <li class="rrssb-twitter small">
                                    <a ng-href="https://twitter.com/intent/tweet?text={{trip.title | escape}}%20%7C%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;" class="popup">
                                        <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"></path></svg></span>
                                        <span class="rrssb-text">twitter</span>
                                    </a>
                                </li>
                                <li class="rrssb-pinterest small">
                                    <a ng-href="http://pinterest.com/pin/create/button/?url={{pageUrl | escape}}&amp;media={{trip.main_image.image_url}}&amp;description={{trip.title | escape}}%20{{pageUrl | escape}}" onclick="window.open(this.href, &#39;mywin&#39;,&#39;left=50,top=50,width=600,height=350,toolbar=0&#39;); return false;"><span class="rrssb-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                                <path d="M14.02 1.57c-7.06 0-12.784 5.723-12.784 12.785S6.96 27.14 14.02 27.14c7.062 0 12.786-5.725 12.786-12.785 0-7.06-5.724-12.785-12.785-12.785zm1.24 17.085c-1.16-.09-1.648-.666-2.558-1.22-.5 2.627-1.113 5.146-2.925 6.46-.56-3.972.822-6.952 1.462-10.117-1.094-1.84.13-5.545 2.437-4.632 2.837 1.123-2.458 6.842 1.1 7.557 3.71.744 5.226-6.44 2.924-8.775-3.324-3.374-9.677-.077-8.896 4.754.19 1.178 1.408 1.538.49 3.168-2.13-.472-2.764-2.15-2.683-4.388.132-3.662 3.292-6.227 6.46-6.582 4.008-.448 7.772 1.474 8.29 5.24.58 4.254-1.815 8.864-6.1 8.532v.003z"></path>
                                            </svg></span><span class="rrssb-text">pinterest</span>
                                    </a>
                                </li>
                                <li class="rrssb-email small">
                                    <a href="mailto:?subject={{trip.title| escape}}&amp;body={{pageUrl | escape}}%0A{{trip.introduction | escape}}"><span class="rrssb-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 28 28">
                                                <path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"></path>
                                            </svg>
                                        </span>
                                        <span class="rrssb-text">email</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">

                        <div style="cursor: pointer" ng-class="{likeDisabled: isLikeDisabled}" class="timeline-like-button margin-auto" ng-click="tripLikeUnlike();isLikeDisabled = !isLikeDisabled">
                            <em ng-class="{&#39;fa fa-heart&#39;: likeId != undefined, &#39;fa fa-heart-o&#39;: likeId == undefined}" class="fa fa-heart">&nbsp; </em><span>like &nbsp; </span><span class="likes-quantity"><!--{{trip.total_likes}}-->450</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add first card button #2 #4(hide)-->
        <div ng-show="postStep == 2" ng-click="addNewPlace()" class="intro-add-trip">
            <div class="container">
                <div class="plus-pulse2">
                </div>
                <div class="plus-button-intro">
                    <i class="fa fa-plus-circle" style="color:#f56c36; font-size:50px;"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!--welcome to timeline, appears after uploading cover photo-->
        <div ng-show="postStep == 2" class="welcome-to-timeline col-md-12 text-center">
            <p class="welcome-name">
hello, {{userObj.facebook_profile.name}}!
            </p>
            <p class="ready-to-map">
Ready to map your Journey?
            </p>
            <p class="ready-to-map">
Hit the + button to start!
            </p>
        </div>

        <!--Timeline places photos #4-->
        <div ng-show="postStep == 4" class="timeline-places-photos">
            <div class="col-md-12">
                <div class="col-md-10">
                    <!--Timeline section within the tab-->
                    <div class="timeline">
                        <div id="guide" ng-show="tripTabIndex == 0" class="col-md-12">
                            <div ng-repeat="place in places track by $index" class="timeline-card col-md-12">
                                <div class="col-md-5">
                                    <div class="card-desc">
                                        <div class="card-date-loca">
                                            <span class="card-location">
                                {{place.location}}
                                            </span>
                                            <span class="card-date">
                                {{place.date | date:"dd MMMM yyyy" }}
                                            </span>
                                        </div>
                                        <div class="location-desc">
                                            <span>
                            {{place.note}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-photo">
                                        <div class="panel">
                                            <uib-carousel interval="" no-wrap="false">
                                                <uib-slide ng-init="placeImageIndex = $index" class="select-pointer" ng-click="toggleModal(getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_0.9,w_0.9/'),place.note)" ng-repeat="image in place.images track by $index" active="slide.active" index="$index"><!--getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_562,w_850/')-->
                                                    <img ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_pad,h_450,w_600/')}}" style="margin:auto;">
                                                </uib-slide>
                                            </uib-carousel>
                                        </div>
                                    </div>
                                </div>
                                <a ng-click="editPlace($index)" class="btn neta">Edit</a>
                            </div>
                            <!--Add card button -->
                            <div ng-click="addNewPlace()" id="addCardButton" class="add-card-button">
                                <div class="plus-pulse">
                                </div>
                                <div class="plus-button">
                                    <span style="color:#f56c36; font-size:50px; font-family:lato; left:7px; bottom:14px; position:relative;">+</span>
                                </div>
                            </div>
                        </div>
                        <div id="placesMap" ng-show="tripTabIndex == 1" class="col-md-12">
                            <div class="content">
                                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fit="false" editable="p.editable" draggable="p.draggable" icons="p.icons">
                                    </ui-gmap-polyline>
                                    <ui-gmap-markers models="allMarkers" coords="'self'" icon="'icon'" options="marker.options" click="onClick()" events="marker.events">
                                    </ui-gmap-markers>
                                </ui-gmap-google-map>
                            </div>
                        </div>
                        <div id="photos" ng-show="tripTabIndex == 2" class="col-md-12">
                            <div class="content">
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                    <a ng-click="toggleModal(getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                                        <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(trip.main_image.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="placeImage in timelineImages track by $index">
                                    <a ng-click="toggleModal(getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_562,w_850/'))" class="thumbnail">
                                        <img class="img-responsive" ng-src="{{getCroppedTripImageUrl(placeImage.image_url,'upload/c_fill,h_400,w_500/')}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal:addcardModal place #3-->
<div data-backdrop="static" data-keyboard="false" modal-show modal-visible="false" id="addcardModal" class="modal fade timeline-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal:addcardModal content-->
        <form>
            <div class="modal-content add-card-modal">
                <div class="modal-header">
                    <!--Image bucket, will appear after location is entered-->
                    <div class="row">
                        <div class="image-bucket">
                            <!--Suggested images, will disappear after you upload your own-->
                            <div ng-show="suggestedImagesWindowVisible" class="row text-center">
                                <p style="font-family:lato;">Suggested images</p>
                                <div class="image-bucket-row">
                                    <svg ng-show="isSuggestedImageDownloading == true" style="" z-index="9" ;left 50%; top 50%; position absolute; transform translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);" preserveaspectratio="xMidYMid meet" viewbox="0 0 187.3 93.7" height="50px" width="90px">
                                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" fill="none" id="smart-loader" stroke="#01bac2" />
                                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" stroke="#000000" fill="none" opacity="0.05" id="smart-loader-bg" />
                                    </svg>
                                    <div ng-show="isSuggestedImageDownloading == false" ng-click="image.isSelected = !image.isSelected" ng-class="{'selected-image-border': image.isSelected == true}" class="img-sug col-md-6 col-sm-6" ng-repeat="image in suggestedImages track by $index">
                                        <img ng-src="{{image.photoPixelsUrls[5].url}}" class="img-responsive">
                                    </div>
                                                                            <!--<div ng-click="" class="img-sug col-md-6 col-sm-6">
                                                                                                                                                <img ng-src="{{suggestedImages[0].photoPixelsUrls[5].url}}" class="img-responsive">
                                                                                                                                            </div>-->
                                </div>
                            </div>
                            <div ng-show="uploadedImagesWindow" class="row">
                                <div class="image-bucket-row">
                                    <div ng-repeat="image in places[placeCount - 1].images track by $index" class="img-sug col-md-6 col-sm-6">
                                        <i ng-click="deleteImage(placeCount - 1,$index)" class="fa fa-times-circle-o remove-image hand-pointer"></i>
                                        <img ng-src="{{getCroppedTripImageUrl(image.image_url,'upload/c_fill,h_120,w_120/')}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group modal-form-group">
                                    <div class="input-group modal-input-group">
                                        <div class="input-group-addon location-pin"><i class="fa fa-map-marker"></i></div>
                                        <input ng-autocomplete ng-model="places[placeCount - 1].location" details="details" options="options" type="text" class="form-control enter-location" name="location" placeholder="Enter Location..." required>
                                        <div ng-show="isVisitedPlaceImageLoading == false" dropzone="dropzoneConfig" ng-click="hideSuggestedImage()" class="input-group-addon btn upload-photo-btn hide-dropzone"><i dropzone="dropzoneConfig" class="fa fa-camera"></i></div>
                                        <svg ng-show="isVisitedPlaceImageLoading == true" style="" z-index="9" ;left 50%; top 50%; position absolute; transform translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);" preserveaspectratio="xMidYMid meet" viewbox="0 0 187.3 93.7" height="50px" width="90px">
                                            <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" fill="none" id="smart-loader" stroke="#01bac2" />
                                            <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" stroke="#000000" fill="none" opacity="0.05" id="smart-loader-bg" />
                                        </svg>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group modal-form-group">
                                    <div class="input-group modal-input-group">
                                        <div class="input-group-addon input-pencil" style="vertical-align:top;"><i class="fa fa-pencil"></i></div>
                                        <textarea maxlength="500" ng-model="places[placeCount -1].note" class="write-disc" rows="5" placeholder="Describe your epic adventure.."></textarea>
                                    </div>
                                    <div class="pull-right"><span ng-if="places[placeCount -1].note.length == undefined">0</span>{{places[placeCount -1].note.length}}/500</div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group modal-form-group">
                                    <div class="input-group modal-input-group">
                                        <div class="input-group-addon input-pencil"><i class="fa fa-calendar"></i></div>
                                        <input name="date" type="text" init-date="places[placeCount - 1].date" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="places[placeCount-1].date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control enter-location" placeholder="Add your journey date.." ng-click="open($event)" id="date">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-show="tripPostInProgress == false" ng-disabled="isVisitedPlaceImageLoading == true" ng-click="saveVisitedPlace()" type="button" class="btn btn-default btn-publish"><i class="fa fa-check"></i></button>
                    <svg ng-show="tripPostInProgress == true" style="" z-index="9" ;left 50%; top 50%; position absolute; transform translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);" preserveaspectratio="xMidYMid meet" viewbox="0 0 187.3 93.7" height="50px" width="90px">
                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" fill="none" id="smart-loader" stroke="#01bac2" />
                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" stroke="#000000" fill="none" opacity="0.05" id="smart-loader-bg" />
                    </svg>
                    <button ng-show="tripPostInProgress == false" ng-click="closeAddCardModal()" type="button" class="btn btn-default btn-publish"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal:add cover modal #1-->
<div modal-show modal-visible="postStep == 1" id="addcoverModal" class="modal fade timeline-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal:addcoverModal content-->
        <form>
            <div class="modal-content add-card-modal">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group modal-form-group">
                                    <div class="input-group modal-input-group">
                                        <input ng-model="newTrip.title" type="text" class="form-control enter-title" placeholder="Enter Your Title..." style="position:relative; bottom:-10px;" required>
                                        <div ng-show="isCoverPhotoUploading == false" dropzone="mainImageDropzoneConfig" class="input-group-addon btn upload-photo-btn hide-dropzone"><i dropzone="mainImageDropzoneConfig" class="fa fa-camera"></i><!--<input type="file" name="pic" accept="image/*">--></div>
                                        <div class="" ng-show="isCoverPhotoUploading">
                                            <svg style="" z-index="9" ;left 50%; top 50%; position absolute; transform translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);" preserveaspectratio="xMidYMid meet" viewbox="0 0 187.3 93.7" height="50px" width="90px">
                                                <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" fill="none" id="smart-loader" stroke="#01bac2" />
                                                <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" stroke="#000000" fill="none" opacity="0.05" id="smart-loader-bg" />
                                            </svg>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="form-group modal-form-group">
                                    <div class="input-group modal-input-group">
                                        <textarea maxlength="144" ng-model="newTrip.introduction" class="write-disc" rows="5" placeholder="Describe your epic adventure.."></textarea>
                                    </div>
                                    <div class="pull-right"><span class="" ng-if="newTrip.introduction.length == undefined">0</span>{{newTrip.introduction.length}}/144</div>
                                </div>
                            </form>

                        </div>
                        <div class="col-md-12" style="padding-left:24px;">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label tags-label">Tags:</label>
                                    <div class="col-sm-10">
                                        <div ng-mouseover="formatTags()" ng-mouseleave="formatTags()" ng-click="focusTagsInput()" style="height: 100%;" id="tags1453977243690_tagsinput" class="tagsinput  tagsinput-primary">
                                            <span><strong></strong>&nbsp;&nbsp;</span> <span class="tag" class="" ng-repeat="tag in newTrip.tags track by $index"><span>{{tag}}&nbsp;&nbsp;</span><a class="" style="color:#ffffff" ng-click="removeTag($index)">X</a></span> <span ng-cick="{{isAddTag= !isAddTag}}"><i class="fa fa-plus"></i></span>
                                            <input ng-keypress="myFunct($event)" id="tagInput" type="text" ng-model="rawTags" ng-blur="formatTags()"> <!--;saveFormSession();-->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-show="tripPostInProgress == false" ng-disabled="isCoverPhotoUploading" ng-click="saveTripCover()" class="btn btn-default btn-publish"><i class="fa fa-check"></i></button>
                    <svg ng-show="tripPostInProgress == true" style="" z-index="9" ;left 50%; top 50%; position absolute; transform translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);" preserveaspectratio="xMidYMid meet" viewbox="0 0 187.3 93.7" height="50px" width="90px">
                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" fill="none" id="smart-loader" stroke="#01bac2" />
                        <path d="M93.9,46.4c9.3,9.5,13.8,17.9,23.5,17.9s17.5-7.8,17.5-17.5s-7.8-17.6-17.5-17.5c-9.7,0.1-13.3,7.2-22.1,17.1 				c-8.9,8.8-15.7,17.9-25.4,17.9s-17.5-7.8-17.5-17.5s7.8-17.5,17.5-17.5S86.2,38.6,93.9,46.4z" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="12" stroke="#000000" fill="none" opacity="0.05" id="smart-loader-bg" />
                    </svg>
                </div>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
        .hide-dropzone .dz-preview {
        display: none
        }
        .pac-container{
        z-index: 9999999999999999999999
        }
        .hand-pointer {
        cursor: pointer;
        }
        .selected-image-border{
        border:2px solid red;
        }
    
        /* Loader css
    -------------------------------------------------------------------------- */
    #loader { top: 0; left: 0; right: 0; bottom: 0; content: ''; width: 100%; height: 100%; position: fixed; z-index: 999999; overflow: hidden; background: -moz-radial-gradient(50% 50%, circle cover, #ffffff 0%, #e6e6e6 100%);/* FF3.6+ */ background: -webkit-radial-gradient(50% 50%, circle cover, #ffffff 0%, #e6e6e6 100%);/* Chrome10+,Safari5.1+ */ background: -o-radial-gradient(50% 50%, circle cover, #ffffff 0%, #e6e6e6 100%);/* Opera 11.10+ */ background: -ms-radial-gradient(50% 50%, circle cover, #ffffff 0%, #e6e6e6 100%);/* IE10+ */ background: radial-gradient(50% 50%, circle cover, #ffffff 0%, #e6e6e6 100%);/* W3C */ -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
    
    #loader-container { height: 120px; left: 0; margin-top: -60px; overflow: hidden; position: absolute; text-align: center; top: 50%; width: 100%; }
    
    .smart-loader-img { position: absolute; left: 50%; top: 50%; margin-left: -47px; margin-top: -48px; }
    
    #smart-loader { stroke-dasharray: 2.42777px, 242.77666px; stroke-dashoffset: 0; -webkit-animation: anim 1.6s linear infinite; animation: anim 1.6s linear infinite; }
     @-webkit-keyframes 
    anim { 12.5% {
     stroke-dasharray: 33.98873px, 242.77666px;
     stroke-dashoffset: -26.70543px;
    }
     43.75% {
     stroke-dasharray: 84.97183px, 242.77666px;
     stroke-dashoffset: -84.97183px;
    }
     100% {
     stroke-dasharray: 2.42777px, 242.77666px;
     stroke-dashoffset: -240.34889px;
    }
    }
     @keyframes 
    anim { 12.5% {
     stroke-dasharray: 33.98873px, 242.77666px;
     stroke-dashoffset: -26.70543px;
    }
     43.75% {
     stroke-dasharray: 84.97183px, 242.77666px;
     stroke-dashoffset: -84.97183px;
    }
     100% {
     stroke-dasharray: 2.42777px, 242.77666px;
     stroke-dashoffset: -240.34889px;
    }
    }
     @-webkit-keyframes 
    stretchdelay { 0%, 40%, 100% {
     -webkit-transform: scaleY(0.4);
    }
     20% {
     -webkit-transform: scaleY(1);
    }
    }
    @-moz-keyframes 
    stretchdelay { 0%, 40%, 100% {
     -moz-transform: scaleY(0.4);
    }
     20% {
     -moz-transform: scaleY(1);
    }
    }
    @-ms-keyframes 
    stretchdelay { 0%, 40%, 100% {
     -ms-transform: scaleY(0.4);
    }
     20% {
     -ms-transform: scaleY(1);
    }
    }
    @-o-keyframes 
    stretchdelay { 0%, 40%, 100% {
     -o-transform: scaleY(0.4);
    }
     20% {
     -o-transform: scaleY(1);
    }
    }
    @keyframes 
    stretchdelay { 0%, 40%, 100% {
     transform: scaleY(0.4);
    }
     20% {
     transform: scaleY(1);
    }
    }
    
    ::selection {
     color: #ffffff;
     text-shadow: none;
     background-color: #02b9c1;
    }
    ::-webkit-selection {
     color: #ffffff;
     text-shadow: none;
     background-color: #02b9c1;
    }
    ::-moz-selection {
     color: #ffffff;
     text-shadow: none;
     background-color: #02b9c1;
    }
</style>